<div style="border: 3px;border-style:dashed;background:'images/orient1.jpg';background-size: 100px 100px;border-color:#000000;text-align: center;font-family:treasure;color:#000000;padding:22px;font-size:45px">Table of Contents</div>

- Gathering. 
- Assessing. 
- Cleaning. 
- Visualizations. "On another file"

<u><h2 style="font-family:volkswagenOutline;color:olive;font-size:20px;">-Project Details :</h2></u>
<font style="font-family:vosges;color:#801a00;font-size:18px;">
    
- Data Wrangling, which consists of:
    - Gathering data
     1. From 'Wuzzuf_Applications_Sample.csv' file.
     2. From 'Wuzzuf_Job_Posts_Sample.csv' file.
    - Assessing Data.
    - Cleaning Data.
- Storing, Analyzing, and Visualizing the wrangled data. "On another file
</font>

<div style="border: 5px;border-style:double;border-color:#808080;text-align: center;font-family:Niagara Thin;color:#000000;background-image:url(images/Web-Background-Pattern.jpg);padding:22px;font-size:25px">Importing Libraries</div>

In [73]:
import time 
import pandas as pd
import numpy as np
import re as re 
from bs4 import BeautifulSoup

<div style="border: 5px;border-style:double;border-color:#36AF57;text-align: center;font-family:volkswagenOutline medium;color:#ffffff;background-color:#000000;padding:22px;font-size:25px">Gathering</div>

In [2]:
#Load Wuzzuf Application Sample File.
app= (pd.read_csv('Wuzzuf_Applications_Sample.csv'))

#Load Wuzzuf Job Posts Sample File.
post = (pd.read_csv('Wuzzuf_Job_Posts_Sample.csv'))

<div style="border: 5px;border-style:double;border-color:#99cc00;text-align: center;font-family:volkswagenOutline medium;color:#ffffff;background-color:#000000;padding:22px;font-size:25px">>> Testing the Gatherings</div>

In [3]:
# Using "head" Pandas function for 'app' variable. "First 10 Raws"
app.head(10)

         id   user_id   job_id             app_date
0  ba7b8f17  846d013c  516e4ed  2014-01-01 07:27:52
1  30e1ae86  9d5e32c5  516e4ed  2014-01-01 08:20:42
2  d829a6b7  eb26a291  516e4ed  2014-01-01 10:30:37
3  3f985f37  7b5e68a8  516e4ed  2014-01-01 10:55:07
4   27e1695  76fa79b1  516e4ed  2014-01-01 11:00:26
5  93e37a7c  4eca74a6  516e4ed  2014-01-01 12:11:46
6  54431008  d90a6dc0  516e4ed  2014-01-01 13:01:37
7  5a50ec24  5ed37575  516e4ed  2014-01-01 13:11:13
8  9ff7d2aa  5c9bfeaa  516e4ed  2014-01-01 14:15:29
9  b5d1a2a9  ca3f31ac  516e4ed  2014-01-01 15:24:45

In [4]:
# Using "tail" Pandas function for 'app' variable. "Last 10 Raws"
app.tail(10)

               id   user_id    job_id             app_date
1854180  27de5db6  bf827681  47fb6fe3  2017-02-08 12:45:47
1854181  b2f5d4f3  2cc879fc  47fb6fe3  2017-02-08 16:28:50
1854182  294d5152  f96085f9  47fb6fe3  2017-02-09 17:46:23
1854183  6790d8fc  6e56d16d  81457c35  2017-02-12 14:04:27
1854184  8375eb03  148f6e6c  31f061db  2017-02-18 11:27:00
1854185  1b6b15d4   c416caa  3eab0edc  2017-02-18 23:15:58
1854186  bf243d19  e4593f73  4fd12307  2017-03-16 10:39:50
1854187  156df7a7  6eb7c52f  31f061db  2017-03-17 19:07:06
1854188  3f7d8d09  ffb3803f  81457c35  2017-03-23 14:58:19
1854189  a2b6cd3d  c945c50d  31f061db  2017-04-02 23:22:08

In [5]:
# Using "head" Pandas function for 'post' variable. "First 10 Raws"
post.head(10)

,id,city,job_title,job_category1,job_category2,job_category3,job_industry1,job_industry2,job_industry3,salary_minimum,salary_maximum,num_vacancies,career_level,experience_years,post_date,views,job_description,job_requirements,payment_period,currency
0,516e4ed,Ciro,Sales & Marketing Agent,Sales/Retail/Business Development,Marketing,Select,Telecommunications Services,Select,Select,2000,3500,8,Entry Level,0-1,2014-01-01 06:01:41,2602,<p><strong>Qualifications</strong>:<br /><br /...,NaN,Per Month,Egyptian Pound
1,a361ef59,Cairo,German Training Coordinator,Customer Service/Support,Administration,Human Resources,Translation and Localization,Business Services - Other,Education,1000,5000,8,Entry Level,0-2,2014-01-01 20:01:18,2213,<p>&bull;Placing jobs' ads on various websites...,NaN,Per Month,Egyptian Pound
2,7226ce78,Cairo,Junior Software Developer,IT/Software Development,Select,Select,Computer Software,Select,Select,2000,2500,1,Entry Level,2,2014-01-02 11:01:03,2940,"<span style=""text-decoration: underline;""><str...",NaN,Per Month,Egyptian Pound
3,f4b2bcd6,Cairo,Application Support Engineer,IT/Software Development,Select,Select,Telecommunications Services,Select,Select,2000,3500,1,Entry Level,1-2,2014-01-02 12:01:23,2042,"<strong><span style=""text-decoration: underlin...",NaN,Per Month,Egyptian Pound
4,3fee6f73,Alexandria,Electrical Maintenance Engineer,Engineering,Select,Select,Food and Beverage Production,Select,Select,5000,8000,1,Experienced (Non-Manager),1-3,2014-01-21 13:45:56,5684,Job Title: Electrical Maintenance Engineer<br ...,NaN,Per Month,Egyptian Pound
5,22eb5fcb,Cairo,IT Adminstrator,IT/Software Development,Select,Select,Retail,Select,Select,3000,5000,1,Manager,3 - 5,2014-01-02 17:00:31,1644,&bull; Maintain the IT Retail Management Syste...,NaN,Per Month,Egyptian Pound
6,e9b78c6e,6 th of October city,e-payments System Administrator,IT/Software Development,Select,Select,Computer Software,Select,Select,3000,5000,1,Experienced (Non-Manager),1-3,2014-01-02 15:01:17,2335,<p>1-Configure and Archive Data for the banks ...,NaN,Per Month,Egyptian Pound
7,6f23fec0,"cairo,",PROCESS ENGINEER,Engineering,Select,Select,Chemicals/Petro-Chemicals,Oil and Energy,Select,10000,15000,3,Experienced (Non-Manager),5+,2014-01-02 15:01:58,0,&bull; Assisting in preparation of the Project...,NaN,Per Month,Egyptian Pound
8,a47f2d65,Cairo,Senior Software Engineer,IT/Software Development,Engineering,Select,Computer Software,Information Technology Services,Select,3500,6000,2,Experienced (Non-Manager),2+,2014-01-02 15:01:59,1839,"<strong>Concept:</strong><br />Data Structure,...",NaN,Per Month,Egyptian Pound
9,55299fb0,Alexandria,OPERATION ENGINEER,Engineering,Select,Select,Chemicals/Petro-Chemicals,Select,Select,8000,12000,1,Experienced (Non-Manager),3,2014-01-02 16:01:26,0,OPERATION ENGINEER Aug 2008 to Jul 2011\r\n<p>...,NaN,Per Month,Egyptian Pound

In [6]:
# Using "tail" Pandas function for 'post' variable. "Last 10 Raws"
post.tail(10)

,id,city,job_title,job_category1,job_category2,job_category3,job_industry1,job_industry2,job_industry3,salary_minimum,salary_maximum,num_vacancies,career_level,experience_years,post_date,views,job_description,job_requirements,payment_period,currency
21840,e757e2b2,Cairo,Technical Operation Specialist,IT/Software Development,Installation/Maintenance/Repair,Select,Computer/IT Services,Select,Select,2000,4000,3,Experienced (Non-Manager),1-3,2016-05-19 08:05:16,40,We are seeking for Technical Operation&nbsp;Sp...,<ul>\r\n<li>BSc in Computer Science or equival...,Per Month,Egyptian Pound
21841,310e01af,Cairo,Technical Office Engineer,Engineering,Select,Select,Construction - Residential & Commercial/Office,Select,Select,4000,5000,1,Experienced (Non-Manager),3-5,2016-05-19 08:05:46,64,NaN,NaN,Per Month,Egyptian Pound
21842,fa52d20a,Cairo,Senior Technical Support,IT/Software Development,Select,Select,Computer/IT Services,Select,Select,7000,10000,1,Experienced (Non-Manager),6,2016-05-19 08:05:10,80,&bull; Understand iSHRAQ client architecture a...,&bull; B.SC. in Computer Science or equivalent...,Per Month,Egyptian Pound
21843,7cc6a0a4,Giza,Senior Translator (English<>Arabic),Editorial/Writing,Select,Select,Translation and Localization,Select,Select,4000,4500,1,Experienced (Non-Manager),6-9,2016-05-19 08:05:33,20,<ul>\r\n<li>Software translation projects rela...,"<ul>\r\n<li>A graduate of Faculty of Alsun, Ar...",Per Month,Egyptian Pound
21844,9b775924,Alexandria,E-Marketing Executive - Alexandria,Marketing,Sales/Retail/Business Development,Select,"Travel, Transportation and Tourism",Select,Select,1800,2500,1,Experienced (Non-Manager),5+,2016-05-19 09:05:25,31,<ul>\r\n<li>E-Marketing Executive will be resp...,"<p><span style=""text-decoration: underline;""><...",Per Month,Egyptian Pound
21845,cbbac897,Cairo,Creative Designer,Creative/Design,Select,Select,Media Production,Graphic Design,Advertising and PR Services,5000,6000,1,Experienced (Non-Manager),1-4,2016-05-19 10:05:23,0,&bull; Create advertising creative concepts fo...,&bull; 1-4 years web/graphic design experience...,Per Month,Egyptian Pound
21846,7724db49,Qalyubia,Health and Safety Manager - Qalyubia,Quality Assurance/Quality Control,Biotech/R&D/Science,Select,Manufacturing,Import and Export,Select,5000,7000,1,Manager,5+,2016-05-19 10:05:56,6,Health and Safety Managers are also known as o...,<ul>\r\n<li>At least 5 years of experience</li...,Per Month,Egyptian Pound
21847,a6911086,Cairo,Marketing and Sales specialist,Administration,Marketing,Sales/Retail/Business Development,Architectural and Design Services,Construction - Residential & Commercial/Office,Engineering Services,2000,4000,1,Entry Level,<1,2016-05-19 10:05:33,2,<p><strong>Job Description:</strong></p>\r\n<u...,NaN,Per Month,Egyptian Pound
21848,6dcdc323,Cairo,E Markting,Marketing,Select,Select,Information Technology Services,Marketing and Advertising,Select,1000,1000,2,Student,0 to 1,2016-05-19 10:05:56,6,We are looking for E- marketing rep-mail accou...,e-markting rep : 1-<br />Collate and Writing d...,Per Month,Egyptian Pound
21849,eb59b18d,Cairo,Microsoft Product Manager,IT/Software Development,Marketing,Sales/Retail/Business Development,Computer/IT Services,Information Technology Services,Computer and Network Security,6000,8000,2,Experienced (Non-Manager),3 :5,2016-05-19 10:05:15,2,- Identify new areas / lines of business that ...,Education: Bachelor&rsquo;s degree in Electric...,Per Month,Egyptian Pound

<div style="border: 5px;border-style:double;border-color:#F04155;text-align: center;font-family:volkswagenOutline medium;color:#ffffff;background-color:#000000;padding:22px;font-size:25px">Assessing</div>

In [7]:
# Printing all the data on variable 'app'.
app

               id   user_id    job_id             app_date
0        ba7b8f17  846d013c   516e4ed  2014-01-01 07:27:52
1        30e1ae86  9d5e32c5   516e4ed  2014-01-01 08:20:42
2        d829a6b7  eb26a291   516e4ed  2014-01-01 10:30:37
3        3f985f37  7b5e68a8   516e4ed  2014-01-01 10:55:07
4         27e1695  76fa79b1   516e4ed  2014-01-01 11:00:26
...           ...       ...       ...                  ...
1854185  1b6b15d4   c416caa  3eab0edc  2017-02-18 23:15:58
1854186  bf243d19  e4593f73  4fd12307  2017-03-16 10:39:50
1854187  156df7a7  6eb7c52f  31f061db  2017-03-17 19:07:06
1854188  3f7d8d09  ffb3803f  81457c35  2017-03-23 14:58:19
1854189  a2b6cd3d  c945c50d  31f061db  2017-04-02 23:22:08

[1854190 rows x 4 columns]

In [8]:
app.sample(50)

               id   user_id    job_id             app_date
168362   d4d7ca5e  9ac3f94f  1a4ce542  2014-06-14 21:35:53
95735    4277cb88  957ca71d  739450f5  2014-04-16 13:12:12
570598   925923df  fdd664d2  19c35983  2015-02-10 01:58:34
1055486  dff97ead  b1f5dc2e  5b13b23c  2015-09-15 01:53:54
1836526   7e90996  13c24623  dec0259e  2016-06-12 21:56:43
649352   b36c9a9a  72905dfb  d7537d7d  2015-03-17 13:01:29
714663   6ace69f9  fcc2af41  3edc1721  2015-04-16 22:54:56
734414   11cc12fa  736cc904  5b2d7cef  2015-04-26 15:44:10
45190    2a424cd6  4eb89aa2  cbe88c6c  2014-03-04 00:43:16
1645466  4e81d23f  a6bcc61c  a88ca06e  2016-04-03 21:53:01
1563067  afe6473f  c8c4ab0e  4e31e95a  2016-03-10 12:12:25
1532876   94db475  94afc2fa  152c474d  2016-02-29 19:56:43
1543010  70f37fe3  a17fddb4  36b92767  2016-03-04 12:38:34
347063   7e4661a3  90a4642c  67357f35  2014-10-23 18:05:46
1334248  7fad1116  21c043ce  2be7ca4e  2015-12-22 13:38:24
326404   7cd30c87  d167bee3  a609cbe7  2014-10-12 18:13:44
105793   23f57df7  9ef0678e  ddf82e0c  2014-04-26 16:43:56
654391   6ba4a31f  301f8dbd  f7b00467  2015-03-19 11:44:21
1063547  cb20bfe3  72acc716  1cdc72d7  2015-09-18 12:13:13
460145   66d8202e  6849afdb  b0c91be3  2014-12-19 14:01:56
907996   ea4f5211  af757e5e  8a5190c6  2015-07-20 07:03:22
1048957  6ca4d915   c436552  8c43e24e  2015-09-12 19:33:10
725549   12683ab3  41663606  eea4aac8  2015-04-22 02:01:24
231443   69b43559  479e19fe  f8d10bc8  2014-08-07 23:23:57
36098    b503d922  45f5a548  d50e499d  2014-02-23 04:57:58
121245   17f270ac  f45a9da8  dd68c1ae  2014-05-09 03:35:14
1522356  88b1e04e   d93b88c  ed9ca76f  2016-02-25 14:11:41
565570   aeeebcf6  cf718b5f  66342d2e  2015-02-08 03:04:07
1217886   10a0678  b5ccdc25  eb5fcfb6  2015-11-11 15:15:14
1426756  eccc4c82  1efdaaf1  f94a44ec  2016-01-23 11:25:14
1707205  ddccbd52   f3a4da1  19e0af00  2016-04-22 19:39:51
1769001   5951ba8  481ac782  d7f89a42  2016-05-12 18:15:42
1711705  c606f6d0  d0ac824d  95b56cd2  2016-04-24 09:45:14
1592192  6499a35e  94cd8835  10ddc08c  2016-03-19 21:44:14
1042285  fbd76762  9eaeb0c1  11c0d2d0  2015-09-10 01:37:39
416008   b47bee50  73470d34  215c967e  2014-11-28 21:07:31
1595753  9ef23cf3  af3ee383  e37ecc4d  2016-03-20 17:56:53
1175495  6ab67af8  cfe4a3c7  a711ca42  2015-10-27 22:02:38
1692171  ccb7d126  88818809  daa3b18d  2016-04-18 13:27:11
991059   396ab7e3  93860c15  beecd84a  2015-08-22 23:37:34
577458   8f853df5   546d60a   9336385  2015-02-12 19:04:35
1052234  ff9b5ce3  8445e43c  beecd84a  2015-09-13 21:27:19
639079    274347c  8dd785bd  6f41ed9b  2015-03-13 00:22:41
392606   17c215a6  503555b8   cc5f24a  2014-11-16 23:38:22
513434   556969b8  fdfe18db  ad7706b9  2015-01-14 12:11:47
278727   e4e406f3  7abadbaf  aa28e2fd  2014-09-13 20:12:51
50468    b3c656b9  f37d8614  e43f7bae  2014-03-10 00:39:32
180681   a16a3903  bbd5f382  a4167121  2014-06-24 19:57:05
1078077  505f98ed  7776f0bd  9e14f719  2015-09-26 00:31:32
55662    b83955c6  9f39a161  45c2e5e1  2014-03-13 21:29:39

In [9]:
# Printing all the data on variable 'post'.
post

,id,city,job_title,job_category1,job_category2,job_category3,job_industry1,job_industry2,job_industry3,salary_minimum,salary_maximum,num_vacancies,career_level,experience_years,post_date,views,job_description,job_requirements,payment_period,currency
0,516e4ed,Ciro,Sales & Marketing Agent,Sales/Retail/Business Development,Marketing,Select,Telecommunications Services,Select,Select,2000,3500,8,Entry Level,0-1,2014-01-01 06:01:41,2602,<p><strong>Qualifications</strong>:<br /><br /...,NaN,Per Month,Egyptian Pound
1,a361ef59,Cairo,German Training Coordinator,Customer Service/Support,Administration,Human Resources,Translation and Localization,Business Services - Other,Education,1000,5000,8,Entry Level,0-2,2014-01-01 20:01:18,2213,<p>&bull;Placing jobs' ads on various websites...,NaN,Per Month,Egyptian Pound
2,7226ce78,Cairo,Junior Software Developer,IT/Software Development,Select,Select,Computer Software,Select,Select,2000,2500,1,Entry Level,2,2014-01-02 11:01:03,2940,"<span style=""text-decoration: underline;""><str...",NaN,Per Month,Egyptian Pound
3,f4b2bcd6,Cairo,Application Support Engineer,IT/Software Development,Select,Select,Telecommunications Services,Select,Select,2000,3500,1,Entry Level,1-2,2014-01-02 12:01:23,2042,"<strong><span style=""text-decoration: underlin...",NaN,Per Month,Egyptian Pound
4,3fee6f73,Alexandria,Electrical Maintenance Engineer,Engineering,Select,Select,Food and Beverage Production,Select,Select,5000,8000,1,Experienced (Non-Manager),1-3,2014-01-21 13:45:56,5684,Job Title: Electrical Maintenance Engineer<br ...,NaN,Per Month,Egyptian Pound
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21845,cbbac897,Cairo,Creative Designer,Creative/Design,Select,Select,Media Production,Graphic Design,Advertising and PR Services,5000,6000,1,Experienced (Non-Manager),1-4,2016-05-19 10:05:23,0,&bull; Create advertising creative concepts fo...,&bull; 1-4 years web/graphic design experience...,Per Month,Egyptian Pound
21846,7724db49,Qalyubia,Health and Safety Manager - Qalyubia,Quality Assurance/Quality Control,Biotech/R&D/Science,Select,Manufacturing,Import and Export,Select,5000,7000,1,Manager,5+,2016-05-19 10:05:56,6,Health and Safety Managers are also known as o...,<ul>\r\n<li>At least 5 years of experience</li...,Per Month,Egyptian Pound
21847,a6911086,Cairo,Marketing and Sales specialist,Administration,Marketing,Sales/Retail/Business Development,Architectural and Design Services,Construction - Residential & Commercial/Office,Engineering Services,2000,4000,1,Entry Level,<1,2016-05-19 10:05:33,2,<p><strong>Job Description:</strong></p>\r\n<u...,NaN,Per Month,Egyptian Pound
21848,6dcdc323,Cairo,E Markting,Marketing,Select,Select,Information Technology Services,Marketing and Advertising,Select,1000,1000,2,Student,0 to 1,2016-05-19 10:05:56,6,We are looking for E- marketing rep-mail accou...,e-markting rep : 1-<br />Collate and Writing d...,Per Month,Egyptian Pound
21849,eb59b18d,Cairo,Microsoft Product Manager,IT/Software Development,Marketing,Sales/Retail/Business Development,Computer/IT Services,Information Technology Services,Computer and Network Security,6000,8000,2,Experienced (Non-Manager),3 :5,2016-05-19 10:05:15,2,- Identify new areas / lines of business that ...,Education: Bachelor&rsquo;s degree in Electric...,Per Month,Egyptian Pound

In [10]:
post.sample(50)

,id,city,job_title,job_category1,job_category2,job_category3,job_industry1,job_industry2,job_industry3,salary_minimum,salary_maximum,num_vacancies,career_level,experience_years,post_date,views,job_description,job_requirements,payment_period,currency
8883,88b6344f,"Riyadh, Saudi Arabia",IT Network Security Engineer,IT/Software Development,Engineering,Select,Information Technology Services,Select,Select,8000,15000,1,Experienced (Non-Manager),5-8,2015-04-21 16:04:42,2494,"<ul>\r\n<li>Doing design, plan, implement and ...",<ul>\r\n<li>Bachelor/Computer Engineering degr...,Per Month,Egyptian Pound
13764,179b714a,Cairo,IT Service Desk Analyst,IT/Software Development,Select,Select,Airlines/Aviation,Select,Select,1200,4000,3,Experienced (Non-Manager),2+,2015-10-18 12:10:28,2416,<strong>Outline of Role:</strong><br />\r\n<ul...,<ul>\r\n<li>Computer Science or Engineering gr...,Per Month,Egyptian Pound
2449,a818221e,Cairo,Reservation Specialist (Call Center),Sales/Retail/Business Development,Customer Service/Support,Select,"Travel, Transportation and Tourism",Consumer Services,Hotels and Lodging,2500,5000,5,Experienced (Non-Manager),0-3,2014-06-23 18:06:58,3478,<ul>\r\n<li>To help exhibitors attending confe...,<ul>\r\n<li>Excellent English is a must + Good...,Per Month,Egyptian Pound
8041,49550583,Cairo,Quality Control Manager,Manufacturing/Production/Operations,Engineering,Quality Assurance/Quality Control,Engineering - Mechanical or Industrial,Select,Select,5000,11000,1,Manager,5-8,2015-03-22 11:03:07,2361,<ul>\r\n<li>Bachelor degree in Engineering (me...,NaN,Per Month,Egyptian Pound
13412,97500e05,Cairo,Technical Writer,Editorial/Writing,IT/Software Development,Select,Computer/IT Services,Information Technology Services,Select,1500,2000,2,Entry Level,0-2,2015-10-07 17:10:43,2434,<p><strong>Job Responsibilities:<br /><br /></...,<p><strong>Required Skills</strong><br /><br /...,Per Month,Egyptian Pound
11667,52ba59fc,Cairo,Application Engineer - Elevators,Engineering,Select,Select,Engineering - Mechanical or Industrial,Select,Select,3000,4000,1,Experienced (Non-Manager),1-4,2015-08-06 14:08:35,1737,"<ul>\r\n<li><span style=""font-size: 12px;"">Per...","<ul>\r\n<li><span style=""font-size: 12px;"">Ele...",Per Month,Egyptian Pound
9240,51bde4a3,Cairo,Customer Service Representative,Customer Service/Support,Select,Select,Consumer Services,Computer/IT Services,Select,1300,2800,3,Entry Level,0-3,2015-05-05 16:05:45,2036,<strong>Urgently needed call center agents for...,NaN,Per Month,Egyptian Pound
19691,4f3bf45e,Giza,Sales & Technical Support Specialist,Sales/Retail/Business Development,Biotech/R&D/Science,Installation/Maintenance/Repair,Research,Healthcare Services and Hospital,Select,1200,1500,2,Entry Level,0-2,2016-03-30 11:07:17,523,<ul>\r\n<li>Outdoor Sales and Technical Suppor...,<ul>\r\n<li>Fresh Graduates</li>\r\n<li>6th of...,Per Month,Egyptian Pound
387,d9001aa2,Cairo,Sales Manager,Marketing,Select,Select,Textiles,Select,Select,0,50000,1,Manager,5-10,2014-02-05 15:02:02,0,\r\n•\tDevelops a business plan and sales stra...,•\tHigh communication and problem solving skil...,Per Month,Egyptian Pound
15708,eb62af0e,Cairo,Marketing Executive,Sales/Retail/Business Development,Marketing,Select,Computer Software,Computer/IT Services,Select,1500,2000,15,Experienced (Non-Manager),1-2,2015-12-09 16:12:29,1170,<ul>\r\n<li>Present company services for the t...,<ul>\r\n<li>Good command of English language.<...,Per Month,Egyptian Pound
12284,507bdd9a,Cairo,Digital Marketing Manager,Marketing,Select,Select,Pharmaceuticals,Select,Select,3500,4500,1,Experienced (Non-Manager),3-5,2015-08-26 19:08:12,1252,"<ul>\r\n<li><span>Develop, implement, track an...",<ul>\r\n<li>University Graduate.&nbsp;</li>\r\...,Per Month,Egyptian Pound
328,a2d6720f,Giza,Marketing Specialist,Marketing,Editorial/Writing,Research,Computer Software,"Travel, Transportation and Tourism",Marketing and Advertising,1500,4500,1,Experienced (Non-Manager),2-5,2014-02-02 17:02:01,2860,<p>We are looking for creative marketing and p...,<ul>\r\n<li>The candidate must be highly motiv...,Per Month,Egyptian Pound
9659,a0f515fa,Giza,Marketing And Sales Executive,Sales/Retail/Business Development,Marketing,Engineering,Marketing and Advertising,Chemicals/Petro-Chemicals,Select,4000,6000,1,Experienced (Non-Manager),2-6,2015-05-19 10:05:12,1134,<ul>\r\n<li>Market study (Gathering Data) by m...,<ul>\r\n<li>Around 2-6 years experience in Mar...,Per Month,Egyptian Pound
10131,da80572c,Cairo / Giza,Telesales Agent,Sales/Retail/Business Development,Customer Service/Support,Select,Information Technology Services,Marketing and Advertising,Computer Software,1200,2000,8,Experienced (Non-Manager),2-3,2015-08-04 17:04:25,1976,<strong>Summary/Objective:<br /></strong><br /...,<strong>Required Education and Experience</str...,Per Month,Egyptian Pound
20418,72bfb8b0,Giza,Marketing and PR Specialist,Marketing,Select,Select,Printing and Publishing,Select,Select,1500,2500,1,Experienced (Non-Manager),1-5,2016-04-12 13:04:54,733,<ul>\r\n<li>Product branding while establishin...,<ul>\r\n<li>Solid understanding and passion fo...,Per Month,Egyptian Pound
16079,5fa8a321,Alexandria,ICDL / IC3 Instructor,Education/Training,IT/Software Development,Select,Education,Information Technology Services,Select,20,30,2,Entry Level,2+,2015-12-20 22:12:07,981,<ul>\r\n<li>Responsible for training individua...,<ul>\r\n<li>Dynamic and creative approach to t...,Per Hour,Egyptian Pound
7135,ad10002e,Cairo,Android Mobile Application Developer,IT/Software Development,Select,Select,Computer Software,Select,Select,2000,3000,1,Experienced (Non-Manager),3+,2015-02-15 10:02:04,769,<ul>\r\n<li>Full&nbsp;Time Mobile Application ...,NaN,Per Month,Egyptian Pound
10622,9d36d2dc,Giza,Software Developer,IT/Software Development,Select,Select,Computer Software,Select,Select,1200,2000,1,Entry Level,0-1,2015-06-23 13:35:29,2035,<ul>\r\n<li>Bachelor's Degree</li>\r\n<li>At l...,NaN,Per Month,Egyptian Pound
11997,c1356d7c,Giza,Mechanics Specialist (Mechanical Engineer),Engineering,Manufacturing/Production/Operations,Installation/Maintenance/Repair,FMCG,Select,Select,3000,6000,4,Experienced (Non-Manager),1-5,2015-08-23 14:15:27,4558,<ul>\r\n<li>Carry out and control repair and m...,<ul>\r\n<li>Bachelor of Mechanical Engineering...,Per Month,Egyptian Pound
18551,9964baf3,Cairo,secretary / store manager,Administration,Customer Service/Support,Management,"Health, Wellness and Fitness",Select,Select,1200,1500,4,Entry Level,1,2016-02-28 05:02:57,1,Well we are looking for a secretary to manage ...,Full time job from 10 to 7 daily&nbsp;<br />su...,Per Month,Egyptian Pound
15,bf7f22f,Cairo,Out Going Tour operator,Customer Service/Support,Administration,Select,"Travel, Transportation and Tourism",Select,Select,1200,1500,1,Experienced (Non-Manager),2,2014-01-04 12:01:36,913,"<br /><span style=""text-decoration: underline;...",NaN,Per Month,Egyptian Pound
1942,9f94ee7d,Cairo,IOS Developers,IT/Software Development,Select,Select,Computer Software,Select,Select,1200,1500,1,Experienced (Non-Manager),1+,2014-05-21 17:05:08,786,<strong>Requirements of IOS Developer that we ...,NaN,Per Month,Egyptian Pound
11170,b9bedea1,Cairo,Marketing Executive,Marketing,Select,Select,Computer Software,Business Services - Other,Business Supplies and Equipment,2500,4000,1,Experienced (Non-Manager),2-4,2015-07-16 00:07:58,422,<strong>We are hiring a Marketing Executive wh...,<ul>\r\n<li>Fluent written and spoken English....,Per Month,Egyptian Pound
4878,260f2b2b,Giza,Writer Editor,Editorial/Writing,Select,Select,Advertising and PR Services,Media Production,Select,2500,4500,3,Experienced (Non-Manager),1-2,2014-11-11 23:11:55,2067,<ul>\r\n<li>He/ She will be responsible for th...,<br /><strong>Skills:</strong>\r\n<ul>\r\n<li>...,Per Month,Egyptian Pound
346,767a2f06,6th october,Area Manager Wood Finish,Sales/Retail/Business Development,Marketing,Select,Chemicals/Petro-Chemicals,Select,Select,2000,6000,2,Experienced (Non-Manager),3-4,2014-02-03 14:02:34,784,1- Report to regional sales manager &amp; grow...,<strong>Criteria</strong> :<br /><br />1- Facu...,Per Month,Egyptian Pound
6270,ff64eb5e,Cairo,Sales Representative - Advertising,Sales/Retail/Business Development,Marketing,Select,Advertising and PR Services,Graphic Design,Marketing and Advertising,2500,4000,3,Experienced (Non-Manager),2-5,2015-01-21 14:37:04,1775,<div>&nbsp;</div>\r\n<ul>\r\n<li>Sales in door...,<strong>Sales With&nbsp;at least two years of ...,Per Month,Egyptian Pound
2339,ea3d2563,Cairo,Sales & Collection Representative,Sales/Retail/Business Development,Customer Service/Support,Accounting/Finance/Insurance,"Health, Wellness and Fitness",Pharmaceuticals,Business Services - Other,1500,1750,2,Entry Level,1+,2014-06-16 14:06:26,1340,<ul>\r\n<li>مطلوب لشركة مستلزمات طبية مندوب بي...,<ul>\r\n<li>المؤهلات: مؤهل متوسط على الاقل</li...,Per Month,Egyptian Pound
297,554f2299,Cairo,Senior Account Manager0,Customer Service/Support,Sales/Retail/Business Development,Select,Computer Software,Human Resources,Internet Services,3000,4000,1,Manager,5,2014-03-12 18:03:32,355,Senior Account Manager,NaN,Per Month,Egyptian Pound
580,dc28b5cd,"Cairo, Alexandria",Front-End Developer,IT/Software Development,Creative/Design,Select,Outsourcing/Offshoring,Computer Software,Internet Services,2000,5000,1,Experienced (Non-Manager),2+,2014-02-19 14:02:36,510,We are looking for FE developers who have 2+ y...,<strong>Required Skills:</strong><br />\r\n<ul...,Per Month,Egyptian Pound
17881,2b7e7f26,Cairo,Senior PHP Software Architect,IT/Software Development,Select,Select,Computer Software,Computer/IT Services,Select,7000,9000,1,Experienced (Non-Manager),5-8,2016-02-08 11:02:24,539,<ul>\r\n<li>Full lifecycle application develop...,<ul>\r\n<li>University degree in Software/Comp...,Per Month,Egyptian Pound
15730,a45fb011,Cairo,Web Designer,Creative/Design,IT/Software Development,Select,Marketing and Advertising,Select,Select,3000,4500,1,Experienced (Non-Manager),3+,2015-12-10 07:12:21,1169,<ul>\r\n<li>Emerging Media Is a British compan...,<ul>\r\n<li>Meticulous eye for detail and styl...,Per Month,Egyptian Pound
3787,31294f49,Cairo,QA Specialist (Software Industry),Quality Assurance/Quality Control,Engineering,IT/Software Development,Computer Software,Information Technology Services,Select,5000,6000,8,Experienced (Non-Manager),2-4,2014-09-14 11:09:36,1063,<ul>\r\n<li>Ensure that each program/project i...,<ul>\r\n<li>Bachelor&rsquo;s degree in Enginee...,Per Month,Egyptian Pound
14369,310ed224,Ismailia,Microbiology Specialist - Ismailia,Pharmaceutical,Quality Assurance/Quality Control,Medical,Pharmaceuticals,Select,Select,1700,2500,1,Entry Level,0-2,2015-11-02 22:11:58,1251,<ul>\r\n<li>Conduct the assigned lab tests to ...,<ul>\r\n<li>Bachelor Degree of Pharmaceutical ...,Per Month,Egyptian Pound
16815,44ecddf4,Any,Candidate Success Specialist - Email Team - $1...,Customer Service/Support,Select,Select,Human Resources,Computer Software,Select,30000,30000,8,Experienced (Non-Manager),2+,2016-01-11 09:01:45,486,Are you a results-driven professional motivate...,NaN,Per Year,United States Dollar
6705,ae48d885,Giza,Sales Engineer,Marketing,Sales/Retail/Business Development,Select,Pharmaceuticals,Chemicals/Petro-Chemicals,Select,3000,5000,2,Experienced (Non-Manager),2-3,2015-01-29 16:01:09,2601,"<ul>\r\n<li>This job is between marketing, sal...","<ul>\r\n<li><span style=""font-size: 12px;"">Bac...",Per Month,Egyptian Pound
3571,41a671eb,Cairo,مصحح ومدقق لغة عربية,Education/Training,Editorial/Writing,Quality Assurance/Quality Control,Internet Services,Information Technology Services,Select,1200,1500,1,Experienced (Non-Manager),2+,2014-09-02 15:09:55,1937,"<div style=""direction: rtl;"">تتمثل وظيفة المدق...","<div style=""direction: rtl;""><strong>الوصف الو...",Per Month,Egyptian Pound
10155,44e092fb,Cairo,Junior Ruby Developer,IT/Software Development,Select,Select,Information Technology Services,Computer Software,Select,1500,4000,3,Entry Level,1+,2015-06-03 15:06:17,843,Do you like writing mean and clean Ruby code? ...,"<ul>\r\n<li>BS/MS degree in Computer Science, ...",Per Month,Egyptian Pound
4545,b0cfb653,Cairo,Quality Control Software Team Leader,IT/Software Development,Quality Assurance/Quality Control,Select,Computer Software,Select,Select,9000,10000,1,Manager,5+,2014-10-27 10:10:49,3081,<ul>\r\n<li>Managing and leading a quality con...,<p><strong>Expert</strong></p>\r\n<ul>\r\n<li>...,Per Month,Egyptian Pound
4232,259ed466,Cairo,Web Designer,Creative/Design,Select,Select,Financial Services,Select,Select,4000,6000,1,Experienced (Non-Manager),3-5,2014-10-13 10:10:01,998,We are seeking a dynamic and passionate UI/UX ...,<strong><br /><br /></strong><br />\r\n<ul>\r\...,Per Month,Egyptian Pound
18525,7f695ca,Cairo,Senior UI/UX Designer,Creative/Design,Select,Select,Market Research,Select,Select,3000,6000,1,Experienced (Non-Manager),3-5,2016-03-02 14:40:58,928,This job role will be responsible for designin...,<ul>\r\n<li>3-5 years working as an Interface ...,Per Month,Egyptian Pound
4025,3f0b8acc,Alexandria,Marketing & Sales Manager,Marketing,Sales/Retail/Business Development,Select,Healthcare Services and Hospital,Select,Select,4000,12000,1,Manager,6-9,2014-09-26 15:09:53,2289,<ul>\r\n<li>Achieves marketing and sales opera...,"<ul>\r\n<li>BSC. in Business Administration, M...",Per Month,Egyptian Pound
11701,b33210b4,El Sheikh Zayed – 6 October,Software Developer,IT/Software Development,Select,Select,Computer and Network Security,Computer Networking,Computer Software,1000,4000,4,Entry Level,1,2015-08-08 15:08:07,3,&bull; Bachelor's Degree<br />&bull; At least ...,NaN,Per Month,Egyptian Pound
19958,df2e708c,Alexandria,Service Advisor - Alexandria,Installation/Maintenance/Repair,Engineering,Sales/Retail/Business Development,Automotive and Parts Manufacturing,Automotive Sales and Repair Services,Select,3000,5000,8,Experienced (Non-Manager),2-4,2016-04-03 07:04:21,1581,<ul>\r\n<li>Responsible for workshop working t...,"<strong><span style=""text-decoration: underlin...",Per Month,Egyptian Pound
18403,e86d20ae,Cairo,Conseiller(e) clientèle Assistance Technique,Customer Service/Support,Select,Select,Outsourcing/Offshoring,Telecommunications Services,Select,3000,5000,80,Entry Level,0+,2016-02-22 18:02:04,882,<strong>Votre principale mission consiste &agr...,Profil Recherch&eacute; :\r\n<ul>\r\n<li>La ma...,Per Month,Egyptian Pound
10741,d6ec015f,Cairo,Social Media Specialist 2,Marketing,Select,Select,Advertising and PR Services,Marketing and Advertising,Select,1500,2500,1,Experienced (Non-Manager),1-3,2015-06-29 09:06:27,144,Vacancy: Social Media Specialist <br />Job typ...,&bull; Proven working experience in social med...,Per Month,Egyptian Pound
11070,6b2b3360,Cairo,Quality Assurance Engineer - Process Management,IT/Software Development,Quality Assurance/Quality Control,Select,Information Technology Services,Select,Select,6000,9000,1,Experienced (Non-Manager),3-5,2015-08-05 11:51:33,2005,<ul>\r\n<li>Conduct QA audit and ensure that e...,<ul>\r\n<li>B.Sc. in Computer Science or Compu...,Per Month,Egyptian Pound
5680,3a055a2,Cairo,Offshore Call Center Agent,Customer Service/Support,Select,Select,Telecommunications Services,Select,Select,2000,3200,15,Entry Level,0-2,2014-12-15 18:12:47,1663,<ul>\r\n<li>Deal directly with customers via p...,<ul>\r\n<li>Fluent English</li>\r\n<li>English...,Per Month,Egyptian Pound
21200,d83a4611,Giza,Senior UX Designer,IT/Software Development,Creative/Design,Select,Printing and Publishing,Computer Software,Performing and Fine Arts,4000,8000,1,Experienced (Non-Manager),3-4,2016-05-05 10:05:34,303,"<ul>\r\n<li>Visual design definition, directio...",<ul>\r\n<li>Education: Any .</li>\r\n<li>(3-5)...,Per Month,Egyptian Pound
12518,d357eff9,Alexandria,Architecture Engineer- Alexandria,Engineering,Creative/Design,Select,Architectural and Design Services,Select,Select,1500,2300,2,Experienced (Non-Manager),3-5,2015-09-17 15:08:19,1371,<strong>Job Responsibilities:</strong><br />\r...,<ul>\r\n<li>Graduated from&nbsp;Alexandria Uni...,Per Month,Egyptian Pound
10965,9e725c2e,Cairo,Sales & Marketing Executive - Freight Forwarding,Marketing,Sales/Retail/Business Development,Logistics/Transportation,Import and Export,Marine Manufacturing & Services,Transportation/Trucking/Railroad,1200,5000,3,Experienced (Non-Manager),1+,2015-07-07 15:07:49,1580,<strong>We are seeking for Sales and Marketing...,NaN,Per Month,Egyptian Pound

In [11]:
# Printing all the columns on variable 'app'.
app.columns

Index(['id', 'user_id', 'job_id', 'app_date'], dtype='object')

In [12]:
# Printing all the columns on variable 'post'.
post.columns

Index(['id', 'city', 'job_title', 'job_category1', 'job_category2',
       'job_category3', 'job_industry1', 'job_industry2', 'job_industry3',
       'salary_minimum', 'salary_maximum', 'num_vacancies', 'career_level',
       'experience_years', 'post_date', 'views', 'job_description',
       'job_requirements', 'payment_period', 'currency'],
      dtype='object')

In [13]:
# Printing a random sample of variable 'app'.
app.sample(25)

               id   user_id    job_id             app_date
868894   30308200  308cfaf3  38090e8b  2015-06-30 11:56:43
759106   27ed6ba4  8b8c6f99  88accfa6  2015-05-08 19:16:13
438854   a514f09c  9d0bd9ed  a7c8e4d0  2014-12-09 14:56:06
1564244  5b1c020a  ca45bc4e  2bba69e4  2016-03-10 20:24:53
1348626  5067c482  253c8994  39503974  2015-12-27 21:59:48
788973   f524ad65  75d4372c  fb32eea3  2015-05-21 21:27:30
1328530  7584a773  8aa14eda  4bb2b714  2015-12-20 19:15:39
708448   5fd947da  dbf83f9f  b71843ab  2015-04-14 09:20:22
1605083  6ea2cc0f  ad1b556d  10a8ca98  2016-03-22 22:42:03
1640212  710e40b1  74ad2636  2af9b3ec  2016-04-02 14:01:13
1226779  6a3b4ba9  881ba068  a6b81498  2015-11-15 11:51:23
753737   1e2372d2  8a96ef3d  7aa61dbd  2015-05-05 23:58:46
539874   5147ce0c  da673405  d64c7cc8  2015-01-27 10:44:58
556451   64898e6b  147ba003  a0b335ae  2015-02-03 15:20:14
495353   c51b78b4  5559ed5d  4c26675f  2015-01-04 21:59:29
655846   c78a1701  3711df77   e15d2f8  2015-03-20 08:02:31
264158   3905a8d8  b3b8ceaf  55b484aa  2014-09-03 06:09:21
4957     e8558d2f  ae7e8140  ee415f55  2014-01-14 22:06:25
1730048  f57aa98a  ca45bc4e  26463990  2016-04-30 19:32:44
186847   eb485dbc   1e5106e  de420516  2014-06-30 22:08:46
668600   461a4c58  87d7cc22  ad935e8d  2015-03-25 19:54:32
236533   d2bf5b6c  5b49ead2  e80de580  2014-08-12 12:34:31
133170   388c2f54  d859149c  cd87039a  2014-05-17 22:28:37
170765   2d50844b  c3f47d74  e0103d7d  2014-06-16 12:57:46
1143691  a0ba1bfb  9d23355b  33f979e5  2015-10-18 02:27:54

In [14]:
# Printing a random sample of variable 'post'.
post.sample(25)

,id,city,job_title,job_category1,job_category2,job_category3,job_industry1,job_industry2,job_industry3,salary_minimum,salary_maximum,num_vacancies,career_level,experience_years,post_date,views,job_description,job_requirements,payment_period,currency
8004,f3a52215,Cairo,Architects,Engineering,Select,Select,Construction - Industrial Facilities and Infra...,Construction - Residential & Commercial/Office,Select,2000,6000,1,Experienced (Non-Manager),2+,2015-03-26 11:23:06,1116,<ul>\r\n<li>Relevant Technical (Design) Experi...,NaN,Per Month,Egyptian Pound
13569,8e553c8,Cairo,Project Manager,Project/Program Management,Engineering,Select,Business Services - Other,Real Estate/Property Management,Select,6000,18000,3,Manager,20+,2015-10-12 13:03:44,2109,<ul>\r\n<li>Project Budget</li>\r\n<li>Cost Co...,<ul>\r\n<li>Practice Primavera </li>\r\n<li>MS...,Per Month,Egyptian Pound
8503,8cf68368,Cairo,Senior PHP Developer,IT/Software Development,Select,Select,Computer/IT Services,Select,Select,2500,5000,5,Experienced (Non-Manager),2-3,2015-04-06 14:04:11,830,<ul>\r\n<li>Good knowledge of development in a...,NaN,Per Month,Egyptian Pound
15678,fea5c255,Obour city,Packing & Packaging Manager,Manufacturing/Production/Operations,Quality Assurance/Quality Control,Engineering,Manufacturing,Furniture,Select,3000,6000,1,Manager,4+,2015-12-09 11:12:16,1621,<strong>المسئوليات:</strong><br />\r\n<ul>\r\n...,NaN,Per Month,Egyptian Pound
5596,2b61eff,Cairo,Java Developer,Engineering,IT/Software Development,Select,Computer Software,Select,Select,3000,5000,5,Entry Level,0-2,2014-12-11 18:12:49,2100,<ul>\r\n<li>The Developer performs a variety o...,<ul>\r\n<li>Core Java Development (J2SE )</li>...,Per Month,Egyptian Pound
13770,7ab0a95b,Giza,Senior QC Architectural Engineer,Quality Assurance/Quality Control,Engineering,Building Construction/Skilled Trades,Construction - Residential & Commercial/Office,Select,Select,5000,7000,1,Experienced (Non-Manager),5-7,2015-10-21 13:18:52,2056,<ul>\r\n<li>Implement project quality plan and...,<ul>\r\n<li>B.Sc. in architecture or relevant....,Per Month,Egyptian Pound
21705,da987c85,Cairo,Lead CRM Software Engineer,IT/Software Development,Engineering,Select,Information Technology Services,Select,Select,10000,15000,1,Experienced (Non-Manager),5-7,2016-05-17 09:05:16,84,Seeking a Lead CRM Software Engineer for one o...,<ul>\r\n<li>Bachelor of Science preferably Com...,Per Month,Egyptian Pound
6124,2ee01938,Cairo,SharePoint Developer,IT/Software Development,Engineering,Select,Information Technology Services,Computer Software,Select,3000,6000,8,Experienced (Non-Manager),2+,2015-01-05 10:01:48,1218,<ul>\r\n<li>Perform SW activities related to t...,<ul>\r\n<li>2 years development experience wit...,Per Month,Egyptian Pound
14001,91cec576,Cairo,Bidding Engineer,Engineering,Select,Select,Architectural and Design Services,Construction - Industrial Facilities and Infra...,Engineering - Mechanical or Industrial,2000,20000,15,Experienced (Non-Manager),3-5,2015-10-23 13:10:53,1513,<ul>\r\n<li>Study and develop Tender Documents...,<ul>\r\n<li>Time management skills.</li>\r\n<l...,Per Month,Egyptian Pound
7904,f046d75c,Cairo,Senior Sales Engineer,Engineering,Sales/Retail/Business Development,Select,Engineering Services,Oil and Energy,Energy and Utilities,6500,9500,1,Experienced (Non-Manager),7-10,2015-03-16 19:03:01,1329,<strong>Job Description:</strong><br /><br />\...,<strong>Qualifications:<br /><br /></strong>\r...,Per Month,Egyptian Pound
15293,842c26a9,Cairo,Sales Indoor Representative - Nasr City & Heli...,Sales/Retail/Business Development,Customer Service/Support,Select,Consumer Electronics,Select,Select,1000,2000,100,Experienced (Non-Manager),1-3,2015-11-29 14:11:06,2195,"<p class=""headlinered""><strong><span style=""te...",<strong>Requirments:<br /></strong>\r\n<ul>\r\...,Per Month,Egyptian Pound
9480,9fd7dbe5,Cairo,Indoor Sales Engineer - Instruments/Automation,Sales/Retail/Business Development,Engineering,Customer Service/Support,Oil and Energy,Energy and Utilities,Engineering - Mechanical or Industrial,3000,4000,1,Experienced (Non-Manager),2-5,2015-05-13 13:05:50,1587,<ul>\r\n<li>Cooperating with the field sales t...,<strong>Job-related Skills</strong><br /><br /...,Per Month,Egyptian Pound
15327,205c79e7,Cairo,Architecture Design Engineer - Real Estate,Engineering,Creative/Design,Select,Real Estate/Property Management,Select,Select,5000,10000,1,Experienced (Non-Manager),7+,2015-11-30 12:11:46,6,<ul>\r\n<li>Responsible for overall supervisio...,<ul>\r\n<li>Architecture Engineer with&nbsp;7 ...,Per Month,Egyptian Pound
8240,3fb40f69,Cairo,Visual Merchandiser,Sales/Retail/Business Development,Customer Service/Support,Select,Apparel and Fashion,Select,Select,1500,2000,2,Experienced (Non-Manager),4+,2015-03-29 13:27:35,1119,"<ul>\r\n<li>Visual merchandisers develop, deli...",NaN,Per Month,Egyptian Pound
19436,9ca2a92b,Cairo,Coordination Engineer - Sales Team,Engineering,Installation/Maintenance/Repair,Select,Engineering - Mechanical or Industrial,Select,Select,1800,2300,1,Entry Level,0-3,2016-03-20 18:03:44,1181,<ul>\r\n<li>Selection of products according to...,<ul>\r\n<li>BSc in Mechanical Engineering. Kno...,Per Month,Egyptian Pound
8765,d796038a,Cairo,Electromechanical Engineer,Engineering,Select,Select,Telecommunications Services,Select,Select,3000,3500,1,Experienced (Non-Manager),3-5,2015-04-23 13:41:16,1468,<strong>Seeking An Electromechanical Engineer ...,<ul>\r\n<li>Bachelor degree in electromechanic...,Per Month,Egyptian Pound
3883,c6859e13,Cairo,"Technical Support Agent ""Etisalat"" Int'l Account",Customer Service/Support,Select,Select,Telecommunications Services,Computer/IT Services,Consumer Services,3000,3200,40,Entry Level,1-2,2014-09-18 17:09:40,3272,<strong>Job Purpose:</strong> <br />\r\n<ul>\r...,<ul>\r\n<li>Passing Technical Test</li>\r\n<li...,Per Month,Egyptian Pound
3343,a63c4a2b,Cairo,Journalist,Editorial/Writing,Select,Select,Online Media,Select,Select,1200,1500,4,Entry Level,1+,2014-08-20 13:08:27,1882,<ul>\r\n<li>Choose major news articles and hea...,<ul>\r\n<li>General Knowledge about Arab count...,Per Month,Egyptian Pound
3831,b6b18d53,Cairo,Marketing Communication Executive,Marketing,Select,Select,Retail,Select,Select,2500,4000,1,Experienced (Non-Manager),2-4,2014-09-16 15:09:11,1837,<strong>Advertisement:<br /></strong><br />\r\...,<ul>\r\n<li>Previous Experience in Consumer el...,Per Month,Egyptian Pound
2127,1a94d9c,Giza,Bio Medical Engineer,Biotech/R&D/Science,Engineering,Medical,Biotechnology,Select,Select,1200,1500,1,Entry Level,0-1,2014-06-02 14:06:32,1759,<ul>\r\n<li>A female bio medical engineer is r...,<ul>\r\n<li>Fresh graduated (0-1) experience ....,Per Month,Egyptian Pound
7885,473abf6f,Cairo,Senior CRM Engineer,IT/Software Development,Engineering,Select,Information Technology Services,Computer Software,Computer/IT Services,5000,7000,2,Experienced (Non-Manager),4+,2015-03-16 12:03:40,767,<p>Infasme&nbsp; is looking for Senior CRM Eng...,<p><strong>Qualifications:</strong></p>\r\n<ul...,Per Month,Egyptian Pound
12,20826d1,Cairo,Senior Software Tester,IT/Software Development,Quality Assurance/Quality Control,Select,Information Technology Services,Computer Software,Computer/IT Services,5000,7000,2,Experienced (Non-Manager),3,2014-01-03 12:01:21,11,Senior Software Tester Engineer for Informatio...,NaN,Per Month,Egyptian Pound
848,d5b1dc1a,Cairo,Technical Support Engineer,Customer Service/Support,IT/Software Development,Engineering,Information Technology Services,Select,Select,5000,12000,40,Entry Level,0-2,2014-03-11 10:03:44,7838,EMC2 Egypt is announcing the need for Technica...,<ul>\r\n<li>0-2 years of experience&nbsp;</li>...,Per Month,Egyptian Pound
4342,ff317a0b,Tanta,IT Engineer,IT/Software Development,Engineering,Select,Translation and Localization,Select,Select,1200,1500,1,Experienced (Non-Manager),1-3,2014-10-17 18:10:29,1877,"<strong>TransPalm, a translation and localizat...",<ul>\r\n<li>Engineering and/or IT degree or eq...,Per Month,Egyptian Pound
18492,ed9ca76f,Alexandria,Android Developer- Alexandria,IT/Software Development,Select,Select,Computer Software,Select,Select,3000,5000,2,Experienced (Non-Manager),2+,2016-02-24 17:02:01,748,"<br />We're willing to have a new member as ""<...",<ul>\r\n<li>2+ years of experience</li>\r\n<li...,Per Month,Egyptian Pound

In [15]:
# Printing a full data report of variable 'app'.
app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1854190 entries, 0 to 1854189
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   id        object
 1   user_id   object
 2   job_id    object
 3   app_date  object
dtypes: object(4)
memory usage: 28.3+ MB

In [16]:
# Printing a full data report of variable 'post'.
post.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21850 entries, 0 to 21849
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                21850 non-null  object
 1   city              21850 non-null  object
 2   job_title         21850 non-null  object
 3   job_category1     21850 non-null  object
 4   job_category2     21850 non-null  object
 5   job_category3     21850 non-null  object
 6   job_industry1     21850 non-null  object
 7   job_industry2     21850 non-null  object
 8   job_industry3     21850 non-null  object
 9   salary_minimum    21850 non-null  int64
 10  salary_maximum    21850 non-null  int64
 11  num_vacancies     21850 non-null  int64
 12  career_level      21850 non-null  object
 13  experience_years  21850 non-null  object
 14  post_date         21850 non-null  object
 15  views             21850 non-null  int64
 16  job_description   21576 non-null  object
 17  job_requirements  19217 non-null  object
 18  payment_period    21845 non-null  object
 19  currency          21845 non-null  object
dtypes: int64(4), object(16)
memory usage: 2.0+ MB

In [17]:
# Comparing many statistical values for multiple columns of variable 'post'.
post[['salary_minimum','salary_maximum','num_vacancies','views']].describe()

       salary_minimum  salary_maximum  num_vacancies         views
count    21850.000000    21850.000000   21850.000000  21850.000000
mean      3333.283982     5476.040412       5.856934   1376.874737
std       5293.894787    10783.029504      16.633904   1065.109847
min          0.000000        0.000000       1.000000      0.000000
25%       1500.000000     2500.000000       1.000000    797.000000
50%       2500.000000     4000.000000       1.000000   1230.000000
75%       3500.000000     6000.000000       3.000000   1791.000000
max     250000.000000  1000000.000000     100.000000  37568.000000

In [18]:
# Counting the repeated values on a specific column into the 'app' variable. 
app.job_id.value_counts()

949a3cf2    2306
748f9112    1938
5f50ab70    1550
dbdc7516    1389
8cbbec23    1262
            ...
12182f04       1
130eb1ee       1
2fb1df91       1
cf43940c       1
bd17d31d       1
Name: job_id, Length: 19208, dtype: int64

In [19]:
# Counting the repeated values on a specific column into the 'post' variable. (1)
post.job_title.value_counts()

Graphic Designer                     363
Call Center Agent                    204
Social Media Specialist              178
Sales Engineer                       171
Web Developer                        146
                                    ...
Sales Accounts Director                1
Senior Architect                       1
Senior IT Technician & Help Desk       1
iOS/Android Developer                  1
Microsoft Product Manager              1
Name: job_title, Length: 10441, dtype: int64

In [20]:
# Counting the repeated values on a specific column into the 'post' variable. (2)
post.job_category1.value_counts()

IT/Software Development                 5762
Engineering                             3405
Customer Service/Support                2917
Marketing                               2590
Sales/Retail/Business Development       1998
Creative/Design                         1712
Quality Assurance/Quality Control        474
Administration                           459
Editorial/Writing                        458
Installation/Maintenance/Repair          287
Project/Program Management               268
Education/Training                       224
Manufacturing/Production/Operations      184
Medical                                  131
Media/Journalism/Publishing              112
Pharmaceutical                           107
Biotech/R&D/Science                      106
Tourism/Travel                            89
Research                                  85
Logistics/Transportation                  74
Building Construction/Skilled Trades      71
Management                                70
Business                                  62
Accounting/Finance/Insurance              56
Food Services/Hospitality                 53
Banking                                   42
Human Resources                           28
Sports and Leisure                        11
Fashion                                   11
Legal                                      4
Name: job_category1, dtype: int64

In [21]:
# Counting the repeated values on a specific column into the 'post' variable. (3)
post.job_category2.value_counts()

Select                                  10259
Engineering                              1716
Sales/Retail/Business Development        1351
Customer Service/Support                 1330
IT/Software Development                  1077
Marketing                                 926
Installation/Maintenance/Repair           904
Creative/Design                           702
Quality Assurance/Quality Control         481
Project/Program Management                399
Media/Journalism/Publishing               385
Administration                            283
Building Construction/Skilled Trades      216
Biotech/R&D/Science                       211
Medical                                   211
Manufacturing/Production/Operations       211
Editorial/Writing                         179
Business                                  138
Management                                129
Research                                  127
Pharmaceutical                            110
Logistics/Transportation                  107
Education/Training                        100
Accounting/Finance/Insurance               76
Tourism/Travel                             63
Banking                                    53
Food Services/Hospitality                  52
Sports and Leisure                         17
Human Resources                            16
Fashion                                    14
Legal                                       7
Name: job_category2, dtype: int64

In [22]:
# Counting the repeated values on a specific column into the 'post' variable. (4)
post.job_category3.value_counts()

Select                                  18788
Engineering                               356
Customer Service/Support                  313
Marketing                                 255
Sales/Retail/Business Development         244
IT/Software Development                   203
Biotech/R&D/Science                       197
Installation/Maintenance/Repair           191
Quality Assurance/Quality Control         139
Medical                                   137
Project/Program Management                133
Creative/Design                           126
Management                                 90
Media/Journalism/Publishing                82
Building Construction/Skilled Trades       75
Manufacturing/Production/Operations        66
Pharmaceutical                             64
Research                                   58
Administration                             56
Business                                   50
Editorial/Writing                          48
Logistics/Transportation                   30
Accounting/Finance/Insurance               28
Education/Training                         27
Food Services/Hospitality                  26
Tourism/Travel                             22
Human Resources                            16
Fashion                                    13
Sports and Leisure                         10
Legal                                       4
Banking                                     3
Name: job_category3, dtype: int64

In [23]:
# Counting the repeated values on a specific column into the 'post' variable. (5)
post.job_industry1.value_counts()

Computer Software                     2824
Information Technology Services       2029
Advertising and PR Services           1108
Telecommunications Services           1021
Computer/IT Services                   976
                                      ...
Public Policy                            1
Supermarkets                             1
Select                                   1
Performing and Fine Arts                 1
Nanotechnology                           1
Name: job_industry1, Length: 115, dtype: int64

In [24]:
# Counting the repeated values on a specific column into the 'post' variable. (6)
post.job_industry2.value_counts()

Select                                   12701
Computer/IT Services                       943
Computer Software                          847
Information Technology Services            631
Marketing and Advertising                  542
                                         ...
Luxury Goods and Jewelry                     1
Religious Institutions                       1
Law Enforcement                              1
Venture Capital and Private Equity           1
Personal and Household Services              1
Name: job_industry2, Length: 113, dtype: int64

In [25]:
# Counting the repeated values on a specific column into the 'post' variable. (7)
post.job_industry3.value_counts()

Select                                17776
Computer/IT Services                    381
Information Technology Services         379
Marketing and Advertising               230
Computer Software                       193
                                      ...
Legal Services                            1
Aviation and Aerospace                    1
Aerospace and Defense                     1
Religious Institutions                    1
Alternative Medicine                      1
Name: job_industry3, Length: 107, dtype: int64

In [26]:
# Counting the repeated values on a specific column into the 'post' variable. (8)
post.currency.value_counts()

Egyptian Pound              21476
United States Dollar          254
Saudi Arabian Riyal            67
U.A. Emirates Dirham           16
Euro                           11
Qatari Riyal                    5
Canadian Dollar                 4
British Pound                   2
Jordanian Dinar                 2
Indian Rupee                    2
Kuwaiti Dinar                   1
Ecuadoran Sucre                 1
Ghanaian Cedis                  1
East Caribbean Dollar           1
Ethiopian Birr                  1
Dominican Republic Pesos        1
Name: currency, dtype: int64

In [27]:
post.city.value_counts()

Cairo                                                 14988
Giza                                                   3886
Alexandria                                              989
6th of October                                           90
Mansoura                                                 89
                                                      ...
Sadat Industrial City, Monufia Governorate.               1
Cairo, Helwan, El Sharkia                                 1
Sadat Industrial City, Monufia Governorate, Egypt.        1
qualiobia                                                 1
october 6th                                               1
Name: city, Length: 478, dtype: int64

In [28]:
post.career_level.value_counts()

Experienced (Non-Manager)           13182
Entry Level                          6773
Manager                              1654
Student                               171
Senior Management (e.g. VP, CEO)       70
Name: career_level, dtype: int64

In [29]:
# Showing the unique values on a specific column into the 'post' variable. 
x = post.city
np.unique(x)

array(['10 0f Rnamda', '10 of Ramadan', '10 th of ramadan',
       '10 th of ramadan city', '10th of Ramadan',
       '10th of Ramadan - New Cairo', '10th of Ramadan and Qibaa City',
       '10th of Ramaddan', '10th of Ramdan City', '10th of ramadan city',
       '10th of ramdan', '10th. of Ramadan', '15th of May',
       '2111111111111111111111111111111111110122222222222222Cairo / Kafr el shiehk / Mansoura',
       '5th Settelment', '6 October', '6 October - Mokkatam', '6 oct',
       '6 october city', '6 of Ocober', '6 of October',
       '6 of october city', '6 th of October city', '6 اكتوبر',
       '6th Of Oct', '6th Of Oct / Smart Village', '6th Of October, Giza',
       '6th october', '6th october city', '6th of October',
       '6th of October City', '6th. of october', 'ASWAN', 'Abou Rawash',
       'Ain El Sokhna', 'Ain Shams', 'Ain Shams/ Helwan', 'Al Behera',
       'Al Ghrbiyah', 'Al Jizah', 'Al Monofyah', 'Al Sharqia',
       'Al- Gharbia', 'Al-behira', 'Alamein', 'Alex .Borg El Arab',
       'Alex,Tanta,Mansoura,Cairo', 'Alexadnria', 'Alexandira',
       'Alexandria', 'Alexandria & Cairo', 'Alexandria , Cairo',
       'Alexandria - Bihera', 'Alexandria - Canal zone - Upper Egypt',
       'Alexandria / Beheira', 'Alexandria / Cairo',
       'Alexandria And Cairo', 'Alexandria or Cairo',
       'Alexandria, Ain Sokhna, Hurghada', 'Alexandria, Cairo',
       'Alexandria, Cairo & Mineya',
       'Alexandria- Port Saeid- Ismalia -Assuit -Menia- Red Sea',
       'Alexandria/ Cairo', 'Alexnadria', 'All Around Egypt',
       'All Egypt Governrotes', 'All Governorate', 'All Governorates',
       'All Regions', 'All over Egypt', 'All provenience', 'Any',
       'Any Location', 'Ariesh', 'Arish', 'Assiut', 'Assuit',
       'Assuit - Cairo - Alex', 'Assuit-Menia-Mansoura-El Bhira-Sohag',
       'Aswan/ Qena', 'Asyut', 'Badr', 'Banha',
       'Bani Suef, Ismailia ,Mansoura and Cairo', 'Bani Suief', 'Beheira',
       'Beni Suef', 'Beni Suef & Ismailia',
       'Beni Suef, Ismailia ,Mansoura and Cairo',
       'Beni Suef, Ismailia ,Mansoura and Cairo.',
       'Beni Suef, Ismailia and Mansoura', 'Beni Suif & Cairo',
       'Between 10th of Ramadan and New Cairo', 'CAIRO - EGYPT', 'Cairo',
       'Cairo & Alex', 'Cairo & Aswan', 'Cairo & El-Gharbia',
       'Cairo & Giza', 'Cairo & Hurghada', 'Cairo & alexandria',
       'Cairo , Alex', 'Cairo , Alex Delta & Upper Egypt',
       'Cairo , Canal and Upper Egypt governorates', 'Cairo , Giza',
       'Cairo , Giza , Alex , Mansoura , Tanta', 'Cairo - Abbassia',
       'Cairo - Alex', 'Cairo - Alex. - Mansoura', 'Cairo - Alexandria',
       'Cairo - Damitte - Alex & suez', 'Cairo - Dokki', 'Cairo - Giza',
       'Cairo - Giza - Alex. - Kafr El-sheikh.', 'Cairo - Maadi',
       'Cairo - Nasr City', 'Cairo - New Cairo',
       'Cairo .Mansoura, Tanta, Bahira, Zagazig Benha , ismalia . Portsaid . suez .sharm elsheikh',
       'Cairo .Mansoura, Tanta, bahara, Zagazig Benha , ismalia . borsaid . suez .sharelsheikh',
       'Cairo / Alex / Mansoura', 'Cairo / Alexandria',
       'Cairo / Alexandria / Anywhere in Egypt', 'Cairo / Aswan',
       'Cairo / Desok', 'Cairo / El-Minya', 'Cairo / Fayoum / Assuit',
       'Cairo / Gharbia', 'Cairo / Giza', 'Cairo / Ismalia',
       'Cairo / Mansoura', 'Cairo / North coast', 'Cairo / Suez / Assiut',
       'Cairo /Giza', 'Cairo /Giza /Alexandria /Delta', 'Cairo /Menoufia',
       'Cairo /New Cairo', 'Cairo /Qaluibya', 'Cairo egypt',
       'Cairo or Alexandria or any', 'Cairo, Alex',
       'Cairo, Alex , Tanta , Mansoura',
       'Cairo, Alex, Assuit, Mansoura, Tanta',
       'Cairo, Alex, Delta, Upper, Egypt', 'Cairo, Alex, Tanta, Mansoura',
       'Cairo, Alexanderia and Assuit', 'Cairo, Alexandria',
       'Cairo, Alexandria & Assiut', 'Cairo, Alexandria & Upper Egypt',
       'Cairo, Alexandria, Asyut, Mansura, Tanta',
       'Cairo, Damietta, Suez, Assiut, Sharkeya, Kafr Sheikh, Hurghada',
       'Cairo, Egypt', 'Cairo, Giza & Alexandria',
       'Cairo, Giza, Alex, Tanta, Assuit',
       'Cairo, Giza, Alexandria, Tanta, Assuit',
       'Cairo, Helwan, El Sharkia', 'Cairo, Mansoura',
       'Cairo, Mansoura, Tanta', 'Cairo, New cairo',
       'Cairo,Assiut ,Mansoura', 'Cairo,Egypt', 'Cairo,Giza',
       'Cairo,Giza & Alexandria', 'Cairo,Giza,Alex,Mansoura,Tnata',
       'Cairo,Hurghada', 'Cairo,Port Said', 'Cairo-Nasr City',
       'Cairo/ 6th of October', 'Cairo/ Alexanderia', 'Cairo/ Alexandria',
       'Cairo/ Giza', 'Cairo/ Giza / Sheikh Zayed / New Cairo',
       'Cairo/ New Cairo', 'Cairo/ Sharm/ Hurghada', 'Cairo/Alex',
       'Cairo/Alexandria', 'Cairo/Giza', 'Cairo/Sokhna', 'Cairon',
       'Caito', 'Canal Area', 'Caro', 'Ciaro', 'Ciro', 'Csiro',
       'Dakahlia', 'Dakahlia & Gharbia', 'Dakahliya & Cairo', 'Damietta',
       'Damietta, Suez, Sharkeya, PortSaid', 'Damita', 'Delta',
       'Delta - Mansoura -Tanta', 'Desok / Mansoura / Gharbia / Cairo',
       'Doha', 'Doki', 'Dokki', 'Dokki - Mohandseen', 'Down Town',
       'Dubai', 'EL Minia', 'EL Obour city', 'EL Sharkyia',
       'EL-MOHANDSEEN, GIZA', 'EL-Mansora', 'East Owainat', 'East Owinat',
       'Egype', 'Egypt', 'Ein sokhna', 'El Fayoum', 'El Mahlla El Koubra',
       'El Menia', 'El Menoufia', 'El Menya', 'El Mohndseen',
       'El Monofeya', 'El Monofia', 'El Obour',
       'El Obour Industrial City', 'El Sheikh Zayed – 6 October',
       'El mahalla el koubra',
       'El sharkia, El behira, El Menoufia, El Qalyubiyah, El canal, El faioum El giza,Minya, Asyut, Bani suif and Qena',
       'El-Behira', 'El-Gharbya', 'El-Mansoura', 'El-Menofya', 'El-Obour',
       'El-Sharkia & Dakahlia', 'El-Sherouk', 'El-gharbia', 'El-sharkia',
       'El-shrouk', 'Elwadi Elgded', 'Gharbeya', 'Gharbia', 'Giaz',
       'Giza', 'Giza & Cairo', 'Giza & Tanta', 'Giza - 6th of October',
       'Giza - Cairo', 'Giza - Delta - Cairo', 'Giza - Sheikh Zayed City',
       'Giza / Cairo', 'Giza, Alex', 'Giza, Cairo',
       'Giza, Cairo, Mansoura, Fayoum & Banha', 'Giza, Dokki',
       'Giza, Egypt', 'Giza, Shabramant', 'Giza, Zamalek',
       'Giza,Cairo ,Alex', 'Giza-6 October', 'Giza-Cairo',
       'Giza/ Alexandria', 'Giza/ Cairo',
       'Giza/ Cairo - Alexandria - Asyout', 'Giza/Cairo', 'Global',
       'Greater Cairo', 'Greater Cairo - Mansoura', 'Haram', 'Heliopolis',
       'Heliopolis, Cairo', 'Helwan', 'Hurghada', 'Hurghada / Cairo',
       'Isamilia', 'Ismailia', 'Ismailia ,Mansoura',
       'Ismailia and Mansoura', 'Ismalia', 'Ismallia',
       'Ismallia- Port Said - Suez', 'Kafr El-Shekh', 'Kafr El-sheikh',
       "Ma'adi", 'Maadi, Cairo',
       'Maadi, Damietta, Marsa Matrouh, El Sadat City', 'Maddi',
       'Mania -Suez', 'Manoura', 'Mansoura',
       'Mansoura , Tanta , KFS , Damanhour , Zagazig , Damita, Banha & Fakos',
       'Mansoura /Damietta', 'Mansoura, DK', 'Mansoura/Alexandria',
       'Marsa Alam', 'Marsa Matrouh', 'Matrouh & ِAlexandaria', 'Menofia',
       'Menofya', 'Menoufya', 'Middle East', 'Minia', 'Minya',
       'Minya - Assiut - Sohag', 'Misr- El Gedida', 'Mohandeseen',
       'Mohandessin', 'Mohandiseen', 'Mokattam', 'Monfia', 'Monoufia',
       'Nasr City - Cairo', 'Nasr City or Giza', 'Nasr City, Cairo',
       'New Cairo', 'New Cairo City', 'North Coast', 'North Cost',
       'Obour city', 'Obuor city', 'October', 'October Industrial Zone',
       'October city', 'Online From Home', 'Owainat East', 'Owinat East',
       'Port Said', 'Port Saied', 'Qaluibya', 'Qaluobiya', 'Qalyoubia',
       'Qalyubia', 'Qalyubia,Gharbia and Alexandria', 'Qena',
       'Red Sea/ Sinai', 'Remote', 'Remote (Work from Home)',
       'Remotely from home', 'Riyadh', 'Riyadh, KSA',
       'Riyadh, Saudi Arabia', 'SHARJAH',
       'Sadat Industrial City, Monufia Governorate, Egypt.',
       'Sadat Industrial City, Monufia Governorate.', 'Sharkeya',
       'Sharkia', 'Sharm El Sheikh', 'Sharm Elkheikh', 'Sharm el-Sheikh',
       'Sharqeya', 'Sharqiya', 'Shebin Al-Kom', 'Shebin ElKoum',
       'Sheikh Zayed City', 'Shiekh Zaied City', 'Sohag', 'South sinai',
       'Suez', 'Tanta', 'Tanta - Mounfia -Mansoura',
       'Tanta - Zagazig - Mansoura (Delta)', 'To be definied',
       'Upper Egypt', 'Upper Egypt & Red Sea', 'Upper Egypt / Red Sea',
       'Wadi El Notron', 'Work from home', 'Zagazig', 'ain sokhna',
       'al ain al sokhna', 'al city in egypt', 'al fayoum', 'al-minya',
       'alabassia', 'alex', 'alexandaria', 'alexanderia',
       'alexandria/cairo', 'alexandryia', 'alexendria', 'all',
       'all Governments', 'all cities', 'all egypt', 'all governement',
       'anywhere', 'caio', 'cairo - giza -alex', 'cairo - ismailia',
       'cairo and alex', 'cairo or giza', 'cairo,', 'cairo, giza',
       'cairo-giza', 'cairo/egypt', 'cairo/ismailia', 'cairoo', 'cairp',
       'cairro', 'cario', 'damitta', 'east oweinat', 'el gharbia',
       'el mansoura', 'el minya', 'el monufia', 'elgiza', 'elharam',
       'elobour', 'fayoum', 'giza mohandseen', 'giza`', 'gizah', 'gize',
       'great cairo', 'guiza', 'kafr el sheikh', 'kairo', 'kaliobya',
       'luxor', 'maadi', 'maadi,cairo', 'maady', 'manalonline',
       'menoufia', 'monofeya', 'monofya', 'monufia', 'monufya sadat city',
       'mounfia', 'nasir', 'nasr city', 'new egypt', 'new nozha',
       'new valley', 'newegypt', 'obour', 'october 6th', 'outside cairo',
       'port said, Ismailia ,damitta,mansoura ,suez', 'portsaid', 'qina',
       'qualiobia', 'red sea', 'sadat', 'sadat city', 'sharm el shaik',
       'sharm elsheikh', 'sharqia', 'shbin al koum', 'sheikh zayed',
       'sinai', 'siuz', 'suez & Alexandria', 'travel jeddah',
       'upper Egypt - Alex - Suez - Ismailia', 'zahraa el maadi',
       'zakazik', 'zamalek', 'أكتوبر', 'ابها',
       'الإسكندرية -القاهرة -الإسماعيلية -شمال التحرير', 'الإسماعيلية',
       'الاسكندرية', 'التجمع الأول', 'الجيزة', 'الجيزه', 'الرياض',
       'الغردقة', 'القاهرة', 'القاهرة - الأسكندرية', 'القاهرة الجديدة',
       'القاهرة الكبرى', 'القاهره', 'المنصورة', 'المنصوره', 'حلوان',
       'كفر الشيخ', 'مدينة 6 اكتوبر', 'مدينة 6 اكتوير', 'مدينة بدر',
       'مدينه نصر', 'مصر', 'من الدقهليه - او القاهرة', 'ِAlexandria'],
      dtype=object)

In [30]:
# Showing all the city names which started with a small letter. (City Column)/(Post Variable)
post[post.city.str.islower()]

,id,city,job_title,job_category1,job_category2,job_category3,job_industry1,job_industry2,job_industry3,salary_minimum,salary_maximum,num_vacancies,career_level,experience_years,post_date,views,job_description,job_requirements,payment_period,currency
7,6f23fec0,"cairo,",PROCESS ENGINEER,Engineering,Select,Select,Chemicals/Petro-Chemicals,Oil and Energy,Select,10000,15000,3,Experienced (Non-Manager),5+,2014-01-02 15:01:58,0,&bull; Assisting in preparation of the Project...,NaN,Per Month,Egyptian Pound
109,ba6b027a,maadi,Senior Pre Sales Consultant,IT/Software Development,Select,Select,Computer Software,Computer Hardware,Restaurant/Food Services,2500,3500,5,Experienced (Non-Manager),3-4,2014-01-12 16:01:13,842,<strong>Senior Pre Sales Consultant&nbsp;Job D...,<strong>Skills/Qualifications:</strong>\r\n<p>...,Per Month,Egyptian Pound
116,4cd1987d,maadi,Senior Sales Consultant,IT/Software Development,Sales/Retail/Business Development,Select,Computer Software,Computer Hardware,Select,2500,3500,5,Experienced (Non-Manager),3-4,2014-01-13 14:01:34,538,"<span style=""color: black; line-height: 115%; ...",<strong>Skills/Qualifications:</strong><br /><...,Per Month,Egyptian Pound
117,878d4bd8,maadi,Junior Sales Consultant - Fresh Graduate,IT/Software Development,Sales/Retail/Business Development,Select,Computer Software,Computer Hardware,Select,1000,1500,5,Entry Level,0-1,2014-01-13 14:01:49,933,Junior Sales Consultant (Fresh Graduate) <br /...,<strong>Skills/Qualifications:</strong>\r\n<p>...,Per Month,Egyptian Pound
192,90f2e7fe,cairo - giza -alex,Indoor Sales,Sales/Retail/Business Development,Customer Service/Support,Select,Retail,"Electronics, Components, and Semiconductor Mfg",Select,1000,1200,1,Entry Level,0+,2014-01-21 14:01:43,1411,"<p>We&rsquo;re looking for friendly, knowledge...",<strong>Job requirements:</strong><br /><br />...,Per Month,Egyptian Pound
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21672,1ad43e23,nasr city,Architectural Engineer,Engineering,Select,Select,Engineering Services,Select,Select,0,0,1,Experienced (Non-Manager),2-3,2016-05-16 13:05:55,0,<p><span>تعلن شركة سيرين مصر عن حاجتها الى مهن...,NaN,Per Month,Egyptian Pound
21703,e0921df5,10th of ramadan city,Lab Chemist,Biotech/R&D/Science,Select,Select,Chemicals/Petro-Chemicals,Engineering Services,Select,2000,2500,1,Entry Level,0-2,2016-05-17 09:05:47,139,<ul>\r\n<li>Comply fully with all relevant lab...,<ul>\r\n<li>Team leadership capability.</li>\r...,Per Month,Egyptian Pound
21717,4e9c6a9,menoufia,Plant Manager - Sadat City,Manufacturing/Production/Operations,Management,Engineering,Plastics,Construction - Industrial Facilities and Infra...,Select,10000,20000,1,Manager,10-17,2016-05-17 11:05:06,122,"<ul>\r\n<li>Plan, organize, direct and run opt...","<ul>\r\n<li>Minimum 10 years of experience, 3 ...",Per Month,Egyptian Pound
21732,f74aca68,maadi,Graphic Designer,Creative/Design,Select,Select,Computer Software,Select,Select,1200,3000,1,Entry Level,0-4,2016-05-17 13:05:34,2,<span>Graphic Designers needed for full time /...,&bull; Uses graphic design software:<br />---&...,Per Month,Egyptian Pound
21825,96875041,october 6th,Product & Industrial Designer Intermediate,Creative/Design,Engineering,Project/Program Management,Engineering Services,Fine Art,Graphic Design,3000,3500,1,Entry Level,0,2016-05-18 16:05:18,1,To lead the end-to-end product design and deve...,"<p><strong><span style=""text-decoration: under...",Per Month,Egyptian Pound

In [31]:
# Counting all the values which, are less than or Equal 5 (Salary_minimum column, Post Variable)
post[post.salary_minimum <= 5].loc[0:21850, :]

,id,city,job_title,job_category1,job_category2,job_category3,job_industry1,job_industry2,job_industry3,salary_minimum,salary_maximum,num_vacancies,career_level,experience_years,post_date,views,job_description,job_requirements,payment_period,currency
57,f854feee,Cairo,Engineers,Engineering,Select,Select,Architectural and Design Services,Select,Select,0,0,8,Experienced (Non-Manager),5+,2014-01-08 13:25:40,418,Evic Engineering values international consulta...,NaN,Per Month,Egyptian Pound
66,48c4be0f,6 of October,محاسب /محاسب انتاج,Accounting/Finance/Insurance,Management,Engineering,Accounting and Auditing Services,Computer/IT Services,Engineering - Mechanical or Industrial,0,0,3,Entry Level,0-2,2014-01-08 13:01:28,0,&nbsp;(محاسب حديث التخرج يجيد التعامل مع برامج...,NaN,Per Month,Egyptian Pound
195,b63a5e8,Giza,Tour Operator,Marketing,Sales/Retail/Business Development,Select,"Travel, Transportation and Tourism",Airlines/Aviation,Select,0,0,3,Entry Level,0-2,2014-01-21 16:21:42,1000,<ul>\r\n<li>We are a Travel Agency - wedjatour...,NaN,Per Month,Egyptian Pound
387,d9001aa2,Cairo,Sales Manager,Marketing,Select,Select,Textiles,Select,Select,0,50000,1,Manager,5-10,2014-02-05 15:02:02,0,\r\n•\tDevelops a business plan and sales stra...,•\tHigh communication and problem solving skil...,Per Month,Egyptian Pound
464,38517b44,Cairo,Requierd to work at Qatar,Sales/Retail/Business Development,Accounting/Finance/Insurance,IT/Software Development,Hotels and Lodging,Marketing and Advertising,Select,0,0,8,Experienced (Non-Manager),3,2014-02-13 10:02:19,0,<p>Urgently needed :</p>\r\n<p>1- Accountant</...,<p>-Very good command in English</p>\r\n<p>- 2...,Per Month,Qatari Riyal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21772,fc5a5b6b,Cairo,UI Developer Intern @ Avidbeam - Internship,Engineering,IT/Software Development,Select,Computer Software,Select,Select,0,0,3,Student,0-1,2016-05-17 23:05:18,253,<ul>\r\n<li>The intern will participate in dev...,<p><strong>Requirements</strong></p>\r\n<ul>\r...,Per Month,Egyptian Pound
21773,82674fee,Cairo,Data Analytics Intern @ Avidbeam -Internship,Engineering,IT/Software Development,Select,Computer Software,Select,Select,0,0,3,Student,0-1,2016-05-17 23:05:00,261,<ul>\r\n<li>The Intern will participate in wri...,<p><strong>Requirements</strong></p>\r\n<ul>\r...,Per Month,Egyptian Pound
21788,32f70f0f,Cairo,Customer Service Account Manager,Customer Service/Support,Sales/Retail/Business Development,Select,Advertising and PR Services,Select,Select,0,0,5,Experienced (Non-Manager),2-3,2016-05-18 11:05:12,176,<strong>Job brief</strong><br />\r\n<ul>\r\n<l...,<ul>\r\n<li>Proven account management or other...,Per Month,Egyptian Pound
21791,ae8a65cb,Cairo,2D or 3D Designer,Creative/Design,Select,Select,Advertising and PR Services,Select,Select,0,0,4,Experienced (Non-Manager),5-6,2016-05-18 12:05:16,90,<ul>\r\n<li>We are seeking a talented Graphic ...,<ul>\r\n<li>Bachelor&rsquo;s degree in Graphic...,Per Month,Egyptian Pound
21831,ce8480d,Cairo,electromechanical,Engineering,Select,Select,Renewables and Environment,Select,Select,0,0,1,"Senior Management (e.g. VP, CEO)",51,2016-05-19 03:05:37,0,"Be my Sponsor/Copartner, Sending me officially...",later on,Per Month,Euro

In [32]:
# Counting all the values which, are less than or Equal 5  and print out this column. (Salary_minimum column, Post Variable)
post[post.salary_minimum <= 5].loc[0:21850, 'salary_minimum']

57       0
66       0
195      0
387      0
464      0
        ..
21772    0
21773    0
21788    0
21791    0
21831    0
Name: salary_minimum, Length: 244, dtype: int64

In [33]:
# Counting all the values which, are less than or Equal, print out this column and count. (Salary_minimum column, Post Variable)
post[post.salary_minimum <= 5].loc[0:21850, 'salary_minimum'].count()

244

In [34]:
# Counting all the values which, are less than or Equal 5 (Views column, Post Variable)
post[post.views <= 5].loc[0:21850, :]

,id,city,job_title,job_category1,job_category2,job_category3,job_industry1,job_industry2,job_industry3,salary_minimum,salary_maximum,num_vacancies,career_level,experience_years,post_date,views,job_description,job_requirements,payment_period,currency
7,6f23fec0,"cairo,",PROCESS ENGINEER,Engineering,Select,Select,Chemicals/Petro-Chemicals,Oil and Energy,Select,10000,15000,3,Experienced (Non-Manager),5+,2014-01-02 15:01:58,0,&bull; Assisting in preparation of the Project...,NaN,Per Month,Egyptian Pound
9,55299fb0,Alexandria,OPERATION ENGINEER,Engineering,Select,Select,Chemicals/Petro-Chemicals,Select,Select,8000,12000,1,Experienced (Non-Manager),3,2014-01-02 16:01:26,0,OPERATION ENGINEER Aug 2008 to Jul 2011\r\n<p>...,NaN,Per Month,Egyptian Pound
66,48c4be0f,6 of October,محاسب /محاسب انتاج,Accounting/Finance/Insurance,Management,Engineering,Accounting and Auditing Services,Computer/IT Services,Engineering - Mechanical or Industrial,0,0,3,Entry Level,0-2,2014-01-08 13:01:28,0,&nbsp;(محاسب حديث التخرج يجيد التعامل مع برامج...,NaN,Per Month,Egyptian Pound
71,f3446fed,Cairo,Call Center agent,Customer Service/Support,Select,Select,Consumer Services,Select,Select,2400,2400,100,Entry Level,0,2014-01-08 18:01:29,0,Job Position: Call center Agent &ldquo;UK Acco...,NaN,Per Month,Egyptian Pound
73,a389fe5e,Cairo,PHP Developer [Ref.P1312],IT/Software Development,Select,Select,Computer Software,Computer/IT Services,Information Technology Services,1000,10000,1,Experienced (Non-Manager),3-5,2014-01-09 11:01:45,0,* 3 to 5 years of strong experience in web bas...,NaN,Per Month,Egyptian Pound
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21829,afa3a85,Cairo,Senior Test Engineer,IT/Software Development,Select,Select,Information Technology Services,Select,Select,2000,3000,1,Experienced (Non-Manager),3+,2016-05-18 20:05:32,3,NaN,NaN,Per Month,Egyptian Pound
21831,ce8480d,Cairo,electromechanical,Engineering,Select,Select,Renewables and Environment,Select,Select,0,0,1,"Senior Management (e.g. VP, CEO)",51,2016-05-19 03:05:37,0,"Be my Sponsor/Copartner, Sending me officially...",later on,Per Month,Euro
21845,cbbac897,Cairo,Creative Designer,Creative/Design,Select,Select,Media Production,Graphic Design,Advertising and PR Services,5000,6000,1,Experienced (Non-Manager),1-4,2016-05-19 10:05:23,0,&bull; Create advertising creative concepts fo...,&bull; 1-4 years web/graphic design experience...,Per Month,Egyptian Pound
21847,a6911086,Cairo,Marketing and Sales specialist,Administration,Marketing,Sales/Retail/Business Development,Architectural and Design Services,Construction - Residential & Commercial/Office,Engineering Services,2000,4000,1,Entry Level,<1,2016-05-19 10:05:33,2,<p><strong>Job Description:</strong></p>\r\n<u...,NaN,Per Month,Egyptian Pound
21849,eb59b18d,Cairo,Microsoft Product Manager,IT/Software Development,Marketing,Sales/Retail/Business Development,Computer/IT Services,Information Technology Services,Computer and Network Security,6000,8000,2,Experienced (Non-Manager),3 :5,2016-05-19 10:05:15,2,- Identify new areas / lines of business that ...,Education: Bachelor&rsquo;s degree in Electric...,Per Month,Egyptian Pound

In [35]:
# Counting all the values which, are less than or Equal 5  and print out this column. (views column, Post Variable)
post[post.views <= 5].loc[0:21850, 'views']

7        0
9        0
66       0
71       0
73       0
        ..
21829    3
21831    0
21845    0
21847    2
21849    2
Name: views, Length: 1607, dtype: int64

In [36]:
# Counting all the values which, are less than or Equal 5, print out this column and count. (views column, Post Variable)
post[post.views <= 5].loc[0:21850, 'views'].count()

1607

In [37]:
# Counting all the values which, are bigger than or Equal 100 (num_vacancies column, Post Variable)
post[post.num_vacancies >= 100].loc[0:21850, :]

,id,city,job_title,job_category1,job_category2,job_category3,job_industry1,job_industry2,job_industry3,salary_minimum,salary_maximum,num_vacancies,career_level,experience_years,post_date,views,job_description,job_requirements,payment_period,currency
36,f1433b17,Cairo,International Call center Advisor UK Account,Customer Service/Support,Select,Select,Human Resources,Select,Select,2400,3000,100,Entry Level,0-1,2014-01-06 13:01:47,2558,<strong>Job Description:</strong><br /><br />-...,NaN,Per Month,Egyptian Pound
39,a18eaaa4,Cairo,Tele-Sales Agents,Customer Service/Support,Sales/Retail/Business Development,Select,Human Resources,Select,Select,1300,1600,100,Entry Level,1,2014-01-06 14:01:26,889,<strong>Job Description:</strong><br /><br />R...,NaN,Per Month,Egyptian Pound
44,792ca492,Cairo,Call center Advisor,Customer Service/Support,Select,Select,Human Resources,Select,Select,900,1200,100,Entry Level,0-1,2014-01-06 15:01:32,2235,<strong>Requirements:</strong><br /><br />- Ve...,NaN,Per Month,Egyptian Pound
71,f3446fed,Cairo,Call Center agent,Customer Service/Support,Select,Select,Consumer Services,Select,Select,2400,2400,100,Entry Level,0,2014-01-08 18:01:29,0,Job Position: Call center Agent &ldquo;UK Acco...,NaN,Per Month,Egyptian Pound
129,dbbc63ba,Cairo,Customer Service Agent - Raya Contact Center,Customer Service/Support,Select,Select,Telecommunications Services,Select,Select,1000,2000,100,Entry Level,0-2,2014-01-15 14:01:49,2405,<ul>\r\n<li>Handles customer inquiries from be...,NaN,Per Month,Egyptian Pound
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21507,f44d7f8,Cairo,German Call Center Agent,Customer Service/Support,Select,Select,Consumer Services,Select,Select,1200,3800,100,Entry Level,0-3,2016-05-12 09:05:22,689,<span><span>Get the chance to have the interna...,<ul>\r\n<li>Fluent German</li>\r\n<li>Excellen...,Per Month,Egyptian Pound
21557,c402ffb4,Cairo,Call Center Agent (Local Account),Customer Service/Support,Select,Select,Consumer Services,Business Services - Other,Select,1200,1350,100,Entry Level,0-3,2016-05-14 11:05:01,539,<ul>\r\n<li>Answer customer's Calls.</li>\r\n<...,<ul>\r\n<li>Graduates.</li>\r\n<li>Maximum Age...,Per Month,Egyptian Pound
21665,142fd308,Cairo,Sales Agent (Vodafone Stores),Customer Service/Support,Sales/Retail/Business Development,Select,Consumer Services,Select,Select,1500,1500,100,Entry Level,0-3,2016-05-16 12:05:23,308,<ul>\r\n<li>Customer Service .</li>\r\n<li>Ach...,<ul>\r\n<li>Graduates Only.</li>\r\n<li>Maximu...,Per Month,Egyptian Pound
21680,a1a6052f,6 October,Call Center Ad-visor,Customer Service/Support,Select,Select,Consumer Services,Select,Select,1700,2600,100,Entry Level,0-1,2016-05-16 14:05:09,0,#Job_Vacancies#<br />Call_Center_Advisor<br />...,NaN,Per Month,Egyptian Pound
21698,8db9c5e4,Cairo / Giza,International Call Center Agent,Customer Service/Support,Select,Select,Consumer Services,Select,Select,3000,3500,100,Entry Level,1<,2016-05-17 01:05:06,267,We are hiring for our <strong>NEW</strong> cli...,<ul>\r\n<li>Very Good Command of English</li>\...,Per Month,Egyptian Pound

In [38]:
# Counting all the values which, are bigger than or equal 100, print out column. (num_vacancies column, post variable)
post[post.num_vacancies >= 100].loc[2000:, 'num_vacancies']

2025     100
2039     100
2191     100
2194     100
2216     100
        ...
21507    100
21557    100
21665    100
21680    100
21698    100
Name: num_vacancies, Length: 370, dtype: int64

In [39]:
# Counting all the values which, are bigger than or Equal 100, print out this column and count. (num_vacancies column, Post Variable)
post[post.num_vacancies >= 100].loc[0:21850, 'num_vacancies'].count()

428

<u><div style="text-align: left;font-family:Times New Roman;color:#000000;background:'images/paty.jpg';padding:25px;font-size:37px;background-position: left;text-align: center;background-size: 200px 200px;background-repeat: no-repeat">|Observations|</div></u>

<u><font style="font-family:tedeus thin;font-size:25px;color:#009933">Quality:</font></u>

<font style="font-family:times new roman;font-size:20px;color:#0080ff">**post**</font>

1. Columns (`job_industry1`, `job_industry2`, `job_industry3`) have `Select` values for missing values. Therefore we can remove it all. <u><b>"2 steps"</b></u>
2. Columns (`job_category1`, `job_category2`, `job_category3`) have `Select` values for missing values. Therefore we can remove it all. <u><b>"2 steps"</b></u>
3. Replace `0`to `9` values with `np.nan` for Columns (`salary_minimum`,`salary_maximum`).
4. Columns `job_description` and `job_requirements` have many "NaN" Values which, also must be removed. Then, extract all the data from them excluding "HTML Tags"
5. `post_date` column is `object` instead of `datetime`.
6. Convert `salary_minimum` and `salary_maximum` columns' datatype from `float` datatype to `int` datatype. <u><b>"2 merged steps into 1"</b></u>
7. Replace `0` values with `np.nan` for Column `(views)`and then drop those raws." <u><b>2 merged steps into 1"</b></u>
8. `views` column is `float` instead of `int`.

<font style="font-family:times new roman;font-size:20px;color:#0080ff">**app**</font>

1. `app_date` column is `object` instead of `datetime`.

<div style="border: 5px;border-style:double;border-color:#F8E831;text-align: center;font-family:volkswagenOutline medium;color:#ffffff;background-color:#000000;padding:22px;font-size:25px">Cleaning & Conversions</div>

<u><font style="font-family:safran;font-size:20px;color:#000000">**First, let's remove/drop all the NaN values from columns: "job_description" and "job_requirements". Then, extract all the data from them excluding "HTML Tags" on the original dataset <i>'Post'</i> **</font></u>

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Define(4):</font>

Columns (`job_description`, `job_requirements`) have `NaN` values which, are missing values. Therefore, we can remove it. Then, extract all the data from them excluding "HTML Tags"

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Code:</font>

In [40]:
post.dropna(inplace=True)
post.reset_index(drop=True, inplace=True)

In [41]:
for i in range(post.shape[0]):
    post["job_description"][i] =  BeautifulSoup(post["job_description"][i],'lxml').get_text()
    post["job_requirements"][i] = BeautifulSoup(post["job_requirements"][i],'lxml').get_text()

C:\Users\BOB\AppData\Local\Temp\ipykernel_8768\2249814142.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  post["job_description"][i] =  BeautifulSoup(post["job_description"][i],'lxml').get_text()
C:\Users\BOB\AppData\Local\Temp\ipykernel_8768\2249814142.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  post["job_requirements"][i] = BeautifulSoup(post["job_requirements"][i],'lxml').get_text()

KeyboardInterrupt:

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Test:</font>

In [42]:
post.sample(25)

,id,city,job_title,job_category1,job_category2,job_category3,job_industry1,job_industry2,job_industry3,salary_minimum,salary_maximum,num_vacancies,career_level,experience_years,post_date,views,job_description,job_requirements,payment_period,currency
9840,93238340,Alexandria,Sr. Marketing Supervisor,Marketing,Select,Select,Education,Advertising and PR Services,Consumer Services,1500,2500,1,Experienced (Non-Manager),1-4,2015-08-23 14:56:00,1104,Marketing Duties\r\n<ul>\r\n<li>Devising and p...,<ul>\r\n<li>Solid experience in tele marketing...,Per Month,Egyptian Pound
14984,2ffbb6f6,Cairo,Information Technology Manager,IT/Software Development,Select,Select,Medical Devices and Supplies,Select,Select,5000,7000,1,Manager,5+,2016-01-24 10:01:10,3,<ul>\r\n<li>Accomplishes information technolog...,"<ul>\r\n<li>Technical Management, Technical Un...",Per Month,Egyptian Pound
6207,b9b09265,Cairo,iOS Developer,IT/Software Development,Select,Select,Computer/IT Services,Select,Select,3500,5000,1,Experienced (Non-Manager),2+,2015-03-09 15:03:36,811,"<ul>\r\n<li>Develop, test and maintain new mob...",<ul>\r\n<li>More than 2 years of iOS developme...,Per Month,Egyptian Pound
2416,abcc434e,Giza,Service Engineer,Engineering,Installation/Maintenance/Repair,Select,Security and Surveillance,Engineering Services,Select,36000,70000,3,Experienced (Non-Manager),3-5,2014-08-13 17:08:32,1968,We are seeking for Service Engineer for techni...,<strong>Skills<br /><br /></strong>\r\n<ul>\r\...,Per Year,Egyptian Pound
8323,9d8dff3e,alexandaria,import specialist,Engineering,Accounting/Finance/Insurance,Select,Engineering - Mechanical or Industrial,Select,Select,700,1200,2,Experienced (Non-Manager),2-5,2015-06-01 15:06:22,1,&bull; For a mechanical engineering company in...,- Can work under preasure<br />- Can deal eith...,Per Month,Egyptian Pound
7225,b7a5c3f9,Cairo,Customer Care Representative,Customer Service/Support,Select,Select,Consumer Electronics,Select,Select,1500,2000,1,Entry Level,0-2,2015-04-20 15:04:18,2492,"<ul>\r\n<li>Provide accurate, efficient &amp; ...",<ul>\r\n<li>Bachelor Degree from a reputable U...,Per Month,Egyptian Pound
10356,264747bb,Cairo,Corporate Sales Specialist,Sales/Retail/Business Development,Marketing,Select,Marketing and Advertising,Human Resources,Select,2500,4500,2,Experienced (Non-Manager),1-2,2015-08-27 11:07:15,789,<ul>\r\n<li>Role is to approach potential cust...,<ul>\r\n<li>0-2 years of relevant experience</...,Per Month,Egyptian Pound
7694,ec1ac605,Cairo,Senior Commercial Representative,Sales/Retail/Business Development,Marketing,Select,Architectural and Design Services,Construction - Residential & Commercial/Office,Select,3000,5000,2,Experienced (Non-Manager),5+,2015-05-11 10:05:38,883,<ul>\r\n<li>Leading company in the field of in...,<ul>\r\n<li>High qualifications</li>\r\n<li>We...,Per Month,Egyptian Pound
6509,8209d626,Any,Technical Business Analyst,IT/Software Development,Select,Select,Information Technology Services,Select,Select,28000,30000,1,Experienced (Non-Manager),2-5,2015-03-22 11:03:37,1329,Are you an extremely motivated analyst and rea...,<strong>Required experience and education</str...,Per Year,United States Dollar
1717,a0f1bdbd,Cairo,Senior Financial Consultant,Customer Service/Support,Accounting/Finance/Insurance,Select,Computer/IT Services,Information Technology Services,Select,3000,7000,1,Experienced (Non-Manager),3-5,2014-06-21 03:06:11,1140,Job description:\n\nWe are seeking for a highl...,Job Qualifications:\n\nBachelor’s degree in bu...,Per Month,Egyptian Pound
2771,c851091d,Cairo,Associate Creative Director,Creative/Design,Marketing,Select,Advertising and PR Services,Select,Select,4000,15000,1,Experienced (Non-Manager),3+,2014-09-10 15:09:26,2068,<p><strong>Overview:<br /></strong><br />The A...,<p><strong>Qualifications:</strong></p>\r\n<ul...,Per Month,Egyptian Pound
12455,2f04beb7,Giza,Native Spanish Speaker - Call Center Agent,Customer Service/Support,Select,Select,Outsourcing/Offshoring,Consumer Services,Select,4000,5000,1,Entry Level,0-5,2015-11-09 12:11:02,1331,<ul>\r\n<li>Responsible for taking inbound cal...,<ul>\r\n<li>Native Spanish Speaker (Spanish is...,Per Month,Egyptian Pound
10894,97c0e1a7,Cairo,Senior Software Engineer,IT/Software Development,Select,Select,Computer Software,Select,Select,5000,7000,1,Experienced (Non-Manager),5+,2015-09-15 12:09:39,1216,<ul>\r\n<li>We&rsquo;re looking for a Senior S...,<strong>Skills</strong>:<br />\r\n<ul>\r\n<li>...,Per Month,Egyptian Pound
3384,1c674f17,Giza,SEO Specialist,Marketing,Select,Select,Advertising and PR Services,Marketing and Advertising,Market Research,1200,2500,1,Experienced (Non-Manager),2-5,2014-10-21 16:10:38,532,<ul>\r\n<li>Candidate will be responsible for ...,"<div><strong><span style=""text-decoration: und...",Per Month,Egyptian Pound
10026,32c4e6e6,القاهره,سكرتاريه وخدمه عملاء وتلي سيلز,Marketing,Administration,Select,Accounting and Auditing Services,Consumer Services,Select,1,1000,1,Experienced (Non-Manager),0-1,2015-08-13 18:08:34,4,لشركه كبرى متخصصه فى الطابعات والاحبار والماسح...,لشركه كبرى متخصصه فى الطابعات والاحبار والماسح...,Per Month,Egyptian Pound
3137,f0aa6e1c,Giza,Maintenance Engineer,Installation/Maintenance/Repair,Engineering,Select,Engineering - Mechanical or Industrial,Select,Select,2500,3000,4,Experienced (Non-Manager),5+,2014-10-02 12:10:25,4797,<ul>\r\n<li>Required Maintenance Engineer&nbsp...,<ul>\r\n<li>Experience at least five years In ...,Per Month,Egyptian Pound
9488,5b6af727,10th of Ramadan,Senior Process Engineer - Cables,Engineering,Manufacturing/Production/Operations,Select,Engineering Services,Select,Select,5000,6000,1,Experienced (Non-Manager),6-9,2015-07-27 12:07:26,1300,<ul>\r\n<li>The Process Engineers main respons...,<div>\r\n<ul>\r\n<li>Experience&nbsp; 6-9 as a...,Per Month,Egyptian Pound
404,b4f2ea1d,Cairo,Account Advisor,Customer Service/Support,Select,Select,Consumer Services,Select,Select,1200,1500,80,Entry Level,0-1,2014-02-27 00:02:08,1248,A well known call center company seeking to hi...,\nBachelor Degree\nExperience: 0-1 Years\nDefi...,Per Month,Egyptian Pound
9438,19dba79d,Giza,E-Marketing Specialist,Marketing,Select,Select,Medical Devices and Supplies,Healthcare Services and Hospital,Select,2000,5000,2,Experienced (Non-Manager),2+,2015-07-25 14:07:21,1039,<ul>\r\n<li>To identify and evaluate&nbsp;all ...,"<ul>\r\n<li>Mass communication bachelor ,minor...",Per Month,Egyptian Pound
738,90d89e00,Cairo,Software Engineer,IT/Software Development,Engineering,Select,Computer Software,Engineering Services,Select,3000,5000,3,Experienced (Non-Manager),2+,2014-03-27 17:03:38,2056,Can you be patient with technology that’s not ...,How to qualify:\n\nUniversity degree in Softwa...,Per Month,Egyptian Pound
12675,e1cf57fa,Giza,Call Center Manager,Customer Service/Support,Human Resources,Select,Healthcare Services and Hospital,Select,Select,5000,7000,1,Experienced (Non-Manager),3-5,2015-11-16 09:11:34,2548,"<ul>\r\n<li><span style=""font-size: 12px;"">Acc...","<ul>\r\n<li><span style=""font-size: 12px;"">Mal...",Per Month,Egyptian Pound
6477,68346003,Cairo,Project Manager,IT/Software Development,Project/Program Management,Select,Information Technology Services,Select,Select,4000,7000,1,Experienced (Non-Manager),2+,2015-03-19 14:03:25,1270,<ul>\r\n<li>Maintains customer satisfaction by...,<ul>\r\n<li>Bachelor's degree in Computer Scie...,Per Month,Egyptian Pound
40,3a8bbf75,Cairo,Tele-sales Agent,Customer Service/Support,Select,Select,Advertising and PR Services,Select,Select,1000,2000,15,Entry Level,0-2,2014-01-22 16:01:59,735,"Tele-sales Agent :\n1-Explain products, servic...",Qualifications & Skills:1-Good communication a...,Per Month,Egyptian Pound
6224,4dffb676,Cairo,Telesales Agent -American Account,Customer Service/Support,Sales/Retail/Business Development,Select,Telecommunications Services,Consumer Services,Select,2500,6000,40,Entry Level,0-5,2015-03-10 09:03:13,1417,<strong>Telesales &amp; Telemarketing Agents (...,<br />\r\n<ul>\r\n<li>Excellent Command of Eng...,Per Month,Egyptian Pound
5322,54fc11bd,Mohandessin,مراجع لغوي - لغة عربية,Education/Training,Editorial/Writing,Select,Printing and Publishing,Select,Select,2000,3000,1,Experienced (Non-Manager),3-5,2015-01-29 17:01:46,1090,<ul>\r\n<li><strong>&bull; يقوم باستلام الأعما..., - مؤهل عالي متخصص في اللغه <br />&ndash; خبر...,Per Month,Egyptian Pound

<u><font style="font-family:safran;font-size:20px;color:#000000">**Secondly, let's take a copy from our data frames to work on and cleaning it!**</font></u>

In [43]:
post_cleaned = post.copy()
app_cleaned = app.copy()

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Define(1/1.1):</font>
- Replace `Select` with `np.nan` for Columns (`job_industry1`, `job_industry2`, `job_industry3`).

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Code:</font>

In [44]:
col_list = ['job_industry1', 'job_industry2', 'job_industry3']

for col in col_list:
    post_cleaned[col] = post_cleaned[col].replace('Select', np.nan)

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Test:</font>

In [45]:
post_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19111 entries, 0 to 19110
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                19111 non-null  object
 1   city              19111 non-null  object
 2   job_title         19111 non-null  object
 3   job_category1     19111 non-null  object
 4   job_category2     19111 non-null  object
 5   job_category3     19111 non-null  object
 6   job_industry1     19111 non-null  object
 7   job_industry2     8256 non-null   object
 8   job_industry3     3752 non-null   object
 9   salary_minimum    19111 non-null  int64
 10  salary_maximum    19111 non-null  int64
 11  num_vacancies     19111 non-null  int64
 12  career_level      19111 non-null  object
 13  experience_years  19111 non-null  object
 14  post_date         19111 non-null  object
 15  views             19111 non-null  int64
 16  job_description   19111 non-null  object
 17  job_requirements  19111 non-null  object
 18  payment_period    19111 non-null  object
 19  currency          19111 non-null  object
dtypes: int64(4), object(16)
memory usage: 1.7+ MB

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Define(2/2.1):</font>
- Replace `Select` with `np.nan` for Columns (`job_category1`, `job_category2`, `job_category3`).

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Code</font>

In [46]:
col_list1 = ['job_category1', 'job_category2', 'job_category3']

for col in col_list1:
    post_cleaned[col] = post_cleaned[col].replace('Select', np.nan)

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Test:</font>

In [47]:
post_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19111 entries, 0 to 19110
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                19111 non-null  object
 1   city              19111 non-null  object
 2   job_title         19111 non-null  object
 3   job_category1     19111 non-null  object
 4   job_category2     10436 non-null  object
 5   job_category3     2778 non-null   object
 6   job_industry1     19111 non-null  object
 7   job_industry2     8256 non-null   object
 8   job_industry3     3752 non-null   object
 9   salary_minimum    19111 non-null  int64
 10  salary_maximum    19111 non-null  int64
 11  num_vacancies     19111 non-null  int64
 12  career_level      19111 non-null  object
 13  experience_years  19111 non-null  object
 14  post_date         19111 non-null  object
 15  views             19111 non-null  int64
 16  job_description   19111 non-null  object
 17  job_requirements  19111 non-null  object
 18  payment_period    19111 non-null  object
 19  currency          19111 non-null  object
dtypes: int64(4), object(16)
memory usage: 1.7+ MB

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Define(3):</font>
- Replace `0`to `9` value with `np.nan` for Columns (`salary_minimum`,`salary_maximum`).

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Code</font>

In [48]:
col_list3 = ['salary_minimum', 'salary_maximum']
for ele in col_list3:
        if ele.isdigit() and ele < 10:
            Z= Z.replace(ele, np.nan)

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Test:</font>

In [49]:
post_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19111 entries, 0 to 19110
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                19111 non-null  object
 1   city              19111 non-null  object
 2   job_title         19111 non-null  object
 3   job_category1     19111 non-null  object
 4   job_category2     10436 non-null  object
 5   job_category3     2778 non-null   object
 6   job_industry1     19111 non-null  object
 7   job_industry2     8256 non-null   object
 8   job_industry3     3752 non-null   object
 9   salary_minimum    19111 non-null  int64
 10  salary_maximum    19111 non-null  int64
 11  num_vacancies     19111 non-null  int64
 12  career_level      19111 non-null  object
 13  experience_years  19111 non-null  object
 14  post_date         19111 non-null  object
 15  views             19111 non-null  int64
 16  job_description   19111 non-null  object
 17  job_requirements  19111 non-null  object
 18  payment_period    19111 non-null  object
 19  currency          19111 non-null  object
dtypes: int64(4), object(16)
memory usage: 1.7+ MB

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Define(5):</font>

- Convert `post_date` column's datatype from `object` datatype to `datetime` datatype.

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Code</font>

In [50]:
post_cleaned.post_date = pd.to_datetime(post_cleaned['post_date'])

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Test:</font>

In [51]:
post_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19111 entries, 0 to 19110
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                19111 non-null  object
 1   city              19111 non-null  object
 2   job_title         19111 non-null  object
 3   job_category1     19111 non-null  object
 4   job_category2     10436 non-null  object
 5   job_category3     2778 non-null   object
 6   job_industry1     19111 non-null  object
 7   job_industry2     8256 non-null   object
 8   job_industry3     3752 non-null   object
 9   salary_minimum    19111 non-null  int64
 10  salary_maximum    19111 non-null  int64
 11  num_vacancies     19111 non-null  int64
 12  career_level      19111 non-null  object
 13  experience_years  19111 non-null  object
 14  post_date         19111 non-null  datetime64[ns]
 15  views             19111 non-null  int64
 16  job_description   19111 non-null  object
 17  job_requirements  19111 non-null  object
 18  payment_period    19111 non-null  object
 19  currency          19111 non-null  object
dtypes: datetime64[ns](1), int64(4), object(15)
memory usage: 1.8+ MB

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Define(1-app_cleaned):</font>

- Convert `app_date` column's datatype from `object` datatype to `datetime` datatype.

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Code</font>

In [52]:
app_cleaned.app_date = pd.to_datetime(app_cleaned['app_date'])

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Test:</font>

In [53]:
app_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1854190 entries, 0 to 1854189
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   id        object
 1   user_id   object
 2   job_id    object
 3   app_date  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 35.4+ MB

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Define(1/1.2):</font>

1. Columns (`job_industry1`, `job_industry2`, `job_industry3`) have `Select` values for missing values. Therefore we can remove it all. <font style="font-family:times new roman;font-size:20px;color:#FF0000"><i><u><b>(NaN Values after replacement)</b></u></i></font>

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Code</font>

In [54]:
post_cleaned = post_cleaned.loc[~post_cleaned.job_industry1.isnull()]
post_cleaned = post_cleaned.loc[~post_cleaned.job_industry2.isnull()]
post_cleaned = post_cleaned.loc[~post_cleaned.job_industry3.isnull()]

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Test:</font>

In [55]:
post_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3752 entries, 1 to 19110
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                3752 non-null   object
 1   city              3752 non-null   object
 2   job_title         3752 non-null   object
 3   job_category1     3752 non-null   object
 4   job_category2     2467 non-null   object
 5   job_category3     794 non-null    object
 6   job_industry1     3752 non-null   object
 7   job_industry2     3752 non-null   object
 8   job_industry3     3752 non-null   object
 9   salary_minimum    3752 non-null   int64
 10  salary_maximum    3752 non-null   int64
 11  num_vacancies     3752 non-null   int64
 12  career_level      3752 non-null   object
 13  experience_years  3752 non-null   object
 14  post_date         3752 non-null   datetime64[ns]
 15  views             3752 non-null   int64
 16  job_description   3752 non-null   object
 17  job_requirements  3752 non-null   object
 18  payment_period    3752 non-null   object
 19  currency          3752 non-null   object
dtypes: datetime64[ns](1), int64(4), object(15)
memory usage: 395.7+ KB

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Define(2/2.2):</font>

1. Columns (`job_category1`, `job_category2`, `job_category3`) have `Select` values for missing values. Therefore we can remove it all. <font style="font-family:times new roman;font-size:20px;color:#FF0000"><i><u><b>(NaN Values after replacement)</b></u></i></font>

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Code</font>

In [56]:
post_cleaned = post_cleaned.loc[~post_cleaned.job_category1.isnull()]
post_cleaned = post_cleaned.loc[~post_cleaned.job_category2.isnull()]
post_cleaned = post_cleaned.loc[~post_cleaned.job_category3.isnull()]

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Test:</font>

In [57]:
post_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 794 entries, 34 to 19110
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                794 non-null    object
 1   city              794 non-null    object
 2   job_title         794 non-null    object
 3   job_category1     794 non-null    object
 4   job_category2     794 non-null    object
 5   job_category3     794 non-null    object
 6   job_industry1     794 non-null    object
 7   job_industry2     794 non-null    object
 8   job_industry3     794 non-null    object
 9   salary_minimum    794 non-null    int64
 10  salary_maximum    794 non-null    int64
 11  num_vacancies     794 non-null    int64
 12  career_level      794 non-null    object
 13  experience_years  794 non-null    object
 14  post_date         794 non-null    datetime64[ns]
 15  views             794 non-null    int64
 16  job_description   794 non-null    object
 17  job_requirements  794 non-null    object
 18  payment_period    794 non-null    object
 19  currency          794 non-null    object
dtypes: datetime64[ns](1), int64(4), object(15)
memory usage: 83.7+ KB

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Define(6):</font>
- Convert `salary_minimum` and `salary_maximum` columns' datatype from `float` datatype to `int` datatype.

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Code</font>

In [58]:
#1st., clear all the NaN values:
post_cleaned = post_cleaned.loc[~post_cleaned.salary_minimum.isnull()]
post_cleaned = post_cleaned.loc[~post_cleaned.salary_maximum.isnull()]

#2nd.,Convert the datatypes from 'float' to 'int':
post_cleaned.salary_minimum =post_cleaned.salary_minimum.apply(np.int64)
post_cleaned.salary_maximum = post_cleaned.salary_maximum.apply(np.int64)

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Test:</font>

In [59]:
post_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 794 entries, 34 to 19110
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                794 non-null    object
 1   city              794 non-null    object
 2   job_title         794 non-null    object
 3   job_category1     794 non-null    object
 4   job_category2     794 non-null    object
 5   job_category3     794 non-null    object
 6   job_industry1     794 non-null    object
 7   job_industry2     794 non-null    object
 8   job_industry3     794 non-null    object
 9   salary_minimum    794 non-null    int64
 10  salary_maximum    794 non-null    int64
 11  num_vacancies     794 non-null    int64
 12  career_level      794 non-null    object
 13  experience_years  794 non-null    object
 14  post_date         794 non-null    datetime64[ns]
 15  views             794 non-null    int64
 16  job_description   794 non-null    object
 17  job_requirements  794 non-null    object
 18  payment_period    794 non-null    object
 19  currency          794 non-null    object
dtypes: datetime64[ns](1), int64(4), object(15)
memory usage: 83.7+ KB

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Define(7):</font>

- Replace `0` values with `np.nan` for Column `(views)`and then drop those raws.

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Code:</font>

In [60]:
#1st., replace all the '0' values:
col_lis = ['views']

for col in col_lis:
    post_cleaned[col] = post_cleaned[col].replace(0, np.nan)

#2nd., clear all the NaN values:
post_cleaned = post_cleaned.loc[~post_cleaned.views.isnull()]

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Test:</font>

In [61]:
post_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 759 entries, 34 to 19110
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                759 non-null    object
 1   city              759 non-null    object
 2   job_title         759 non-null    object
 3   job_category1     759 non-null    object
 4   job_category2     759 non-null    object
 5   job_category3     759 non-null    object
 6   job_industry1     759 non-null    object
 7   job_industry2     759 non-null    object
 8   job_industry3     759 non-null    object
 9   salary_minimum    759 non-null    int64
 10  salary_maximum    759 non-null    int64
 11  num_vacancies     759 non-null    int64
 12  career_level      759 non-null    object
 13  experience_years  759 non-null    object
 14  post_date         759 non-null    datetime64[ns]
 15  views             759 non-null    float64
 16  job_description   759 non-null    object
 17  job_requirements  759 non-null    object
 18  payment_period    759 non-null    object
 19  currency          759 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(3), object(15)
memory usage: 80.1+ KB

In [62]:
post_cleaned.sample(30)

,id,city,job_title,job_category1,job_category2,job_category3,job_industry1,job_industry2,job_industry3,salary_minimum,salary_maximum,num_vacancies,career_level,experience_years,post_date,views,job_description,job_requirements,payment_period,currency
16185,473cd74a,Giza,Electric Engineer,Engineering,Installation/Maintenance/Repair,Manufacturing/Production/Operations,Engineering - Mechanical or Industrial,Engineering Services,Manufacturing,2500,3500,1,Experienced (Non-Manager),5+,2016-03-01 10:03:40,17.0,"<ul>\r\n<li>Designing, costing, assembling Ele...","<ul>\r\n<li>Good Command of English Language, ...",Per Month,Egyptian Pound
9632,8b14e77e,Cairo,IT Support - Medical Conferences,Media/Journalism/Publishing,Administration,IT/Software Development,Advertising and PR Services,Business Supplies and Equipment,Computer/IT Services,125,150,5,Entry Level,0-2,2015-08-02 08:08:34,1414.0,<ul>\r\n<li>A great opportunity to develop you...,<ul>\r\n<li>Excellent &nbsp;command of English...,Per Day,Egyptian Pound
9547,d606058d,Cairo,مهندسة معمارية حديثة التخرج,Building Construction/Skilled Trades,Creative/Design,Engineering,Animation,Architectural and Design Services,Fine Art,1000,1500,1,Experienced (Non-Manager),0,2015-07-28 17:07:53,5.0,<strong>مطلوب مهندسة عمارة او فنون جميلة حديثة...,<strong>&nbsp;3d Studio Max </strong>,Per Month,Egyptian Pound
10836,a32b9615,Cairo,Sales Engineer - Communication,Sales/Retail/Business Development,Engineering,IT/Software Development,Security and Surveillance,Engineering Services,Information Technology Services,2500,4000,1,Experienced (Non-Manager),2-5,2015-09-13 17:09:45,1268.0,"Responsible for all sales activities (CCTV, Wi...",<strong>Skills Key Competencies</strong><br />...,Per Month,Egyptian Pound
18957,bca33597,New Cairo,AutoCAD Designer,Engineering,Creative/Design,Building Construction/Skilled Trades,Furniture,Fine Art,Architectural and Design Services,1800,2200,1,Entry Level,1-2,2016-05-16 14:05:08,269.0,<ul>\r\n<li>Uses computer assisted design/draf...,<ul>\r\n<li>&nbsp;0-2 years related experience...,Per Month,Egyptian Pound
3495,22a120bb,Cairo,Operational Executive,Customer Service/Support,Project/Program Management,Logistics/Transportation,Retail,Marketing and Advertising,"Health, Wellness and Fitness",1800,2300,1,Entry Level,0-1,2014-10-27 12:10:07,1185.0,<ul>\r\n<li>The operational executive will be ...,<ul>\r\n<li>Excellent communication skills (Ar...,Per Month,Egyptian Pound
9990,1dac84a3,Cairo,Medico Marketing Executive,Medical,Pharmaceutical,Marketing,Marketing and Advertising,Information Technology Services,Healthcare Services and Hospital,2500,4000,1,Experienced (Non-Manager),1+,2015-08-13 00:08:02,1356.0,<ul>\r\n<li>Medical Review of Medical Content ...,"<ul>\r\n<li><span style=""text-decoration: unde...",Per Month,Egyptian Pound
17251,9f7065cb,Giza,Photo Service Associate in Ski Egypt,Customer Service/Support,Sales/Retail/Business Development,Creative/Design,Entertainment,Photography,Retail,2500,2750,15,Entry Level,0-3,2016-05-04 11:35:08,3057.0,<strong>About the job<br /></strong><br />With...,Photography experience is not required. We hav...,Per Month,Egyptian Pound
1909,8782aab5,Cairo,Export Assistant,Logistics/Transportation,Quality Assurance/Quality Control,Marketing,Arts and Crafts,Packaging and Containers,Photography,2000,3500,1,Experienced (Non-Manager),0+,2014-07-06 18:04:56,2198.0,\nWorking in the downtown Cairo area packaging...,\nWe are looking for someone any age male or f...,Per Month,Egyptian Pound
13123,da1a5a31,Cairo,Graphic Designer,Media/Journalism/Publishing,Creative/Design,Marketing,Advertising and PR Services,Graphic Design,Media Production,2500,5000,1,Entry Level,1+,2015-12-10 12:09:33,1437.0,<strong>DITC Media is one of the growing digit...,<strong>Requirements:</strong><br />\r\n<ul>\r...,Per Month,Egyptian Pound
10259,3671ad21,Cairo,Country Manager,Project/Program Management,Management,Business,Online Media,Education,Human Resources,8000,12000,1,Experienced (Non-Manager),1-5,2015-08-24 12:12:21,2077.0,<strong>Research:</strong><br />\r\n<ul>\r\n<l...,<ul>\r\n<li>Outstanding written and oral skill...,Per Month,Egyptian Pound
18925,dd6eafbe,Cairo,Marketing Executive,Marketing,Editorial/Writing,Creative/Design,Chemicals/Petro-Chemicals,Oil and Energy,Manufacturing,2000,3000,1,Experienced (Non-Manager),2+,2016-05-16 09:05:18,326.0,<p>The Marketing executive is responsible to a...,<ul>\r\n<li>Experience in related industrial s...,Per Month,Egyptian Pound
13188,f97c6b4b,Cairo,Assistant Center Director,Sales/Retail/Business Development,Customer Service/Support,Education/Training,Education,Hotels and Lodging,Telecommunications Services,3800,4200,1,Experienced (Non-Manager),2+,2015-12-01 14:12:19,2393.0,<ul>\r\n<li>Assists the Center Director in pro...,<ul>\r\n<li>Bachelor Degree in any field.&nbsp...,Per Month,Egyptian Pound
747,9ecb622c,Giza,SEO /Web Developer,IT/Software Development,Marketing,Research,Marketing and Advertising,Online Media,Computer/IT Services,1500,4000,1,Experienced (Non-Manager),2-3,2014-03-30 01:03:53,1524.0,\nModifying existing websites (static — html a...,\nHand-coding HTML\nHTML5\nWordPress\nDrupal\n...,Per Month,Egyptian Pound
11293,d34801d5,Cairo,IT Application Support Engineer,IT/Software Development,Customer Service/Support,Engineering,Information Technology Services,Computer Hardware,Computer/IT Services,3000,5000,1,Experienced (Non-Manager),4+,2015-10-04 16:10:28,1852.0,<ul>\r\n<li>To ensure that all Client&rsquo;s ...,<strong>Technical Knowledge:</strong><br /><br...,Per Month,Egyptian Pound
10995,d9ebb5e5,Cairo,Marketing and Sales Representative,Sales/Retail/Business Development,Food Services/Hospitality,Marketing,Marketing and Advertising,Restaurant/Food Services,Advertising and PR Services,1500,2000,1,Entry Level,0-3,2015-09-20 09:09:05,1123.0,<strong>Candidate will be responsbile for the ...,The preferred candidate should have good negot...,Per Month,Egyptian Pound
10577,34e61679,Cairo,Technical Support Agent,Installation/Maintenance/Repair,IT/Software Development,Customer Service/Support,Computer Software,Business Services - Other,Computer/IT Services,1500,2000,2,Experienced (Non-Manager),1-3,2015-09-10 13:09:39,2271.0,"<div style=""direction: ltr;"">\r\n<ul>\r\n<li>I...","<ul>\r\n<li>University education, preferably t...",Per Month,Egyptian Pound
7173,54011c0b,Cairo,Sales Real Estate,Sales/Retail/Business Development,Marketing,Customer Service/Support,Real Estate/Property Management,Consumer Services,Marketing and Advertising,3000,4000,1,Experienced (Non-Manager),2+,2015-04-17 04:04:58,1112.0,<ul>\r\n<li><strong>(one of the Arab companies...,<ul>\r\n<li>Communication skills</li>\r\n<li>G...,Per Month,Egyptian Pound
1688,544c7340,Cairo,Junior Application Consultant,IT/Software Development,Project/Program Management,Engineering,Accounting and Auditing Services,Computer Software,Information Technology Services,1500,2500,2,Entry Level,1-2,2014-06-18 13:06:19,1060.0,\nManage and analyze the customers' needs for ...,"\nYou’re great at troubleshooting, and you hav...",Per Month,Egyptian Pound
14030,aed5d3b4,Cairo,Sales Account Manager,Sales/Retail/Business Development,Marketing,Media/Journalism/Publishing,Advertising and PR Services,Graphic Design,Printing and Publishing,4000,6000,2,Experienced (Non-Manager),5-7,2015-12-27 16:12:12,1024.0,<ul>\r\n<li>&nbsp;Builds business by identifyi...,<ul>\r\n<li>Bachelor degree in business admini...,Per Month,Egyptian Pound
2731,b38761b0,Cairo,Senior Technical Office Engineer MEP / Archite...,Engineering,Creative/Design,Building Construction/Skilled Trades,Engineering - Mechanical or Industrial,Architectural and Design Services,Construction - Residential & Commercial/Office,5000,7000,1,Experienced (Non-Manager),5-7,2014-09-07 09:09:38,1159.0,"<ul>\r\n<li>Producing detailed workings, drawi...",<ul>\r\n<li>Bachelor in Engineering ( Mechatro...,Per Month,Egyptian Pound
12594,e03661e,Cairo,QC Engineer - Civil (Hurghada),Quality Assurance/Quality Control,Engineering,Building Construction/Skilled Trades,Construction - Industrial Facilities and Infra...,Construction - Residential & Commercial/Office,Engineering Services,4500,7000,2,Experienced (Non-Manager),3+,2015-11-15 18:08:40,2129.0,<ul>\r\n<li>A Construction Quality Control Eng...,<ul>\r\n<li>Bachelor Degree in Civil Engineeri...,Per Month,Egyptian Pound
6012,1eba9d28,Giza,Account Coordinator,Marketing,Creative/Design,Media/Journalism/Publishing,Advertising and PR Services,Public Relations and Communications,Marketing and Advertising,1500,2500,1,Experienced (Non-Manager),2-4,2015-02-28 15:02:17,1011.0,<strong>The daily duties and responsibilities ...,"<ul class=""disc-list"">\r\n<li>Fluent English</...",Per Month,Egyptian Pound
8678,c82106ee,Cairo,Content Acquisition Specialist,Customer Service/Support,Marketing,Editorial/Writing,Internet Services,Online Media,Media Production,1500,2000,1,Experienced (Non-Manager),2-3,2015-06-24 16:09:02,1658.0,<ul>\r\n<li>Acquiring the needed information f...,"<ul>\r\n<li>Bachelor Degree in (MassComm, Comm...",Per Month,Egyptian Pound
2515,6d60998e,Cairo,Up-Selling Specialist,Sales/Retail/Business Development,Marketing,Customer Service/Support,"Travel, Transportation and Tourism",Recreational Facilities and Services,Management Consulting Services,1500,2000,1,Entry Level,1+,2014-08-20 14:08:08,772.0,<strong>The Upselling Specialist is a telemark...,<ul>\r\n<li>Fluency in English &amp; Arabic is...,Per Month,Egyptian Pound
137,5862bb37,Giza,Senior Management Specialist,Customer Service/Support,Installation/Maintenance/Repair,IT/Software Development,Information Technology Services,Computer/IT Services,Computer Software,3000,6000,1,Experienced (Non-Manager),3-5,2014-02-03 10:02:02,987.0,Objectives :\nThe Senior Mangment Specialist w...,Qualifications:\n\nGood understanding of (Micr...,Per Month,Egyptian Pound
14308,a8949dd9,Cairo,Account Executive - Advertising,Sales/Retail/Business Development,Customer Service/Support,Marketing,Advertising and PR Services,Marketing and Advertising,Media Production,2000,4000,1,Experienced (Non-Manager),2-4,2016-01-05 12:01:51,2351.0,<ul>\r\n<li>Understands the company&rsquo;s se...,<ul>\r\n<li>Bachelor degree in business admini...,Per Month,Egyptian Pound
10045,80bbe3fa,Cairo,Business Development Executive,Sales/Retail/Business Development,Business,Marketing,Media Production,Advertising and PR Services,Animation,3000,5000,1,Experienced (Non-Manager),3+,2015-08-15 19:08:16,1519.0,<ul>\r\n<li>Develop new business and long term...,<ul>\r\n<li>3+ years of experience in digital ...,Per Month,Egyptian Pound
14277,b7641375,Cairo,Branch Manager - Ladies Fitness Center,Administration,Customer Service/Support,Management,Entertainment,Public Relations and Communications,Sports and Physical Recreation,6000,9000,2,Manager,7+,2016-01-04 18:01:18,1.0,<ul>\r\n<li>Maintain a high level of Customer ...,<ul>\r\n<li>Possess Excellent Customer Service...,Per Month,Egyptian Pound
4007,20de8ae4,Giza,Senior Sales Account Manager,Sales/Retail/Business Development,Customer Service/Support,Human Resources,Human Resources,Business Services - Other,Consumer Services,2500,3000,1,Experienced (Non-Manager),1-3,2014-11-25 17:11:28,763.0,"<span style=""text-decoration: underline;""><str...",<ul>\r\n<li>Presentation Skills</li>\r\n<li>Fl...,Per Month,Egyptian Pound

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Define(8):</font>

- `views` column is `float` instead of `int`.

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Code:</font>

In [63]:
post_cleaned.views=post_cleaned.views.apply(np.int64)

<font style="font-family:treasure thin;font-size:30px;color:#000000">- Test:</font>

In [64]:
post_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 759 entries, 34 to 19110
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                759 non-null    object
 1   city              759 non-null    object
 2   job_title         759 non-null    object
 3   job_category1     759 non-null    object
 4   job_category2     759 non-null    object
 5   job_category3     759 non-null    object
 6   job_industry1     759 non-null    object
 7   job_industry2     759 non-null    object
 8   job_industry3     759 non-null    object
 9   salary_minimum    759 non-null    int64
 10  salary_maximum    759 non-null    int64
 11  num_vacancies     759 non-null    int64
 12  career_level      759 non-null    object
 13  experience_years  759 non-null    object
 14  post_date         759 non-null    datetime64[ns]
 15  views             759 non-null    int64
 16  job_description   759 non-null    object
 17  job_requirements  759 non-null    object
 18  payment_period    759 non-null    object
 19  currency          759 non-null    object
dtypes: datetime64[ns](1), int64(4), object(15)
memory usage: 80.1+ KB

In [65]:
post_cleaned.sample(5)

,id,city,job_title,job_category1,job_category2,job_category3,job_industry1,job_industry2,job_industry3,salary_minimum,salary_maximum,num_vacancies,career_level,experience_years,post_date,views,job_description,job_requirements,payment_period,currency
17538,e2fdb8e2,Cairo,Visual Merchandiser,Creative/Design,Fashion,Marketing,Apparel and Fashion,Clothing and Textile Manufacturing,Retail,2000,4000,1,Experienced (Non-Manager),2+,2016-04-06 08:04:10,494,<ul>\r\n<li>To present our garments in an attr...,<ul>\r\n<li>2+ year's experience in same field...,Per Month,Egyptian Pound
3224,208742a0,Cairo,Software Quality Assurance Engineer,IT/Software Development,Engineering,Quality Assurance/Quality Control,Information Technology Services,Computer/IT Services,Computer Software,2000,5000,1,Experienced (Non-Manager),1-3,2014-10-12 11:10:56,2397,<strong>Key responsibilities description:<br /...,<strong>Needed qualifications:<br /><br /></st...,Per Month,Egyptian Pound
11614,d3a4a8b7,Cairo,Project Manager,Engineering,Sales/Retail/Business Development,Project/Program Management,Architectural and Design Services,Construction - Residential & Commercial/Office,Business Services - Other,6000,10000,2,Manager,5+,2015-10-14 12:10:23,2556,<p>A leading company in the interior design fi...,<ul>\r\n<li>Ideally you will have a minimum of...,Per Month,Egyptian Pound
1473,b0fc8c38,New Cairo,Telesales Agent,Sales/Retail/Business Development,Customer Service/Support,Marketing,Advertising and PR Services,Marketing and Advertising,Telecommunications Services,1500,3500,8,Entry Level,0-5,2014-06-01 11:06:52,1308,An international online advertising company is...,\nExperience : from 0-5\nFluent English is a m...,Per Month,Egyptian Pound
14876,1f05e736,Giza,C++ Software Engineer - Medical Imaging,IT/Software Development,Biotech/R&D/Science,Engineering,Computer Software,Medical Devices and Supplies,Biotechnology,4000,12000,3,Experienced (Non-Manager),4+,2016-01-26 15:08:12,741,360imaging is the world leader in the field of...,"<ul>\r\n<li>To be successful, candidates shoul...",Per Month,Egyptian Pound

</br>
</br>
<u><b><font style="font-family:Lucida Calligraphy;font-size:40px;text-align: center;color:#000000;">- To the Visualization Section:</font></b></u>
</br>
</br>